/*Page heading*/
@import "../layout-garden-modules/layout-garden-heading/_style";

/*Article card*/
@import "../layout-garden-modules/article-card/_style";


// FAQ list
@import "../layout-garden-modules/faq-list/_style";
@import "../layout-garden-modules/faq-card/_style";

text-content {
	display: block;
	
	h2 {
		font-size: clamp(1.25rem, 5vw, 2rem);
		font-weight: 600;
	}
}//