/*Presets*/

@import "_meyer-reset";

/*Setup*/
@import "_setup";

/*Settings*/
@import "_custom-properties";

/*Structure*/
@import "_structure";
@import "_list-styles";

/*Typography*/
@import "_typography";

/*Components*/
@import "_forms";
@import "_range-slider";
@import "../components/external-link/_style";

/*Modules*/
@import "_modules";
@import "_layout-modules";
@import "_resume";
@import "_site-header";
@import "_site-footer";

/*Sections (in this file)*/

body {
	background-color: var(--paper-light);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header.site-header {
	background-color: var(--paper);
	border-bottom: 1px solid var(--splash-primary);
}

footer.site-footer {
	background-color: var(--paper);
	border-top: 1px solid var(--splash-primary);
}

section:not(.about-header) {
	padding-top: 2vh;
	padding-bottom: 2vh;

	.section-title {
		color: var(--ink-grey);
	}
}

/*icon styling*/

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}