.header-items {

	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 600px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.site-nav-items {
		padding: 12px 0px;
		display: flex;
		gap: 1.25rem;

		a {
			text-decoration: none;
		}

		.active {
			font-weight: 600;
		}
	}
}