/*Custom properties*/

body {
	--paper-light: #F8F6F4; /* bright white */
	--paper: #EBE4DE; /*darker white */
	--splash-primary: #E3BDA6;  /* pinkish */
	--splash-secondary: #344F68; /* dark blue*/
	--ink: #616B56; /* olive */
	--ink-dark: #3C4434; /* dark olive */


	--primary-font: "Work Sans";
	--secondary-font: "Baskerville";
}

/*Type patterns*/

.xxl-voice {
	font-family: var(--primary-font);
	font-size: 3rem;
	font-weight: 600;
}

.xl-voice {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 600;
}

.large-voice {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	font-weight: 100;
}

.medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
}

.small-voice {
	font-family: var(--secondary-font);
	font-size: 0.75rem;
	font-weight: 400;
}