/*Custom properties comment*/

body {
	--paper-light: HSL(30,22%,96%); /* bright white */
	--paper: HSL(28,25%,90%); /* darker white */
	--splash-primary: HSL(23,52%,77%); /* pinkish */
	--splash-secondary: HSL(37,80%,53%); /* marigold-ish?*/
	--ink: HSL(2,50%,35%); /* maroon */
	--ink-dark: HSL(2,50%,14%); /* dark maroon */
	--warning-light: HSL(10,100%,50%); /* salmon-ish */
	--warning-dark: HSL(10,100%,75%); /* bold red salmon-ish */



	--primary-font: "Work Sans";
	--secondary-font: "Baskerville";
}

/*Type patterns*/

.xxl-voice {
	font-family: var(--primary-font);
	font-size: 3rem;
	font-weight: 600;
}

.xl-voice {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 600;
}

.large-voice {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	font-weight: 100;
}

.medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
}

.small-voice {
	font-family: var(--secondary-font);
	font-size: 0.75rem;
	font-weight: 400;
}