/* Structure */

label, textarea {
	display: block;
}

/*label, label > * {border: 1px solid red}*/

label.field {
	display: flex;
	flex-direction: column;
	font-family: var(--primary-font);
	font-size: 1rem;
	gap: 0.5rem;
	color: var(--ink);
	width: 100%;
}

p, span {
	font-family: var(--secondary-font);
	font-size: 1rem;
	color: var(--ink);
}

input-container {
	overflow: hidden;
}

input-container > * {
	padding: 0.5rem 1rem;
}

form :is(.prepend, .append) {
	background-color: lightgrey;
	color: black;
}


textarea {
	width: 100%;
}

form {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid var(--splash-secondary-pale);
	border-radius: 0.5rem;
	width: 100%;
	min-height: 300px;
	display: grid;
	gap: 1.5rem;
	justify-items: start;

	grid-template-columns: 1fr 1fr;
}

form :is(h1, h2, h3, p, span) {
	margin-top: 0px;
}

legend {
	padding-right: 0.5rem;
}

.warning {
	margin-top: 0.25rem;
	padding-left: 0.5rem;
	border-left: 2px solid var(--warning-dark);
	color: var(--warning-dark);
	font-size: 0.9rem;
}

/*form column spans*/

.span-two {
	grid-column: span 2;
}

/*Input styling*/

input.short-text, select, .long-text textarea {
	background-color: var(--paper-light);
	font-family: var(--secondary-font);
	color: var(--ink);
	font-size: 1rem;
}

select {
	padding: 0.5rem 1rem;
}

input.short-text {
	width: 100%;
	border-radius: 0.5rem;
}

input-container, select {
	border-radius: 0.5rem;
	border: 1px solid var(--splash-primary);
	background-color: var(--paper-light);
	display: block;
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.label-input-group {
	margin-top: 0.5rem;
}

.label-input-group + .label-input-group {
	margin-top: 1.25rem;
}

.radio .label-input-group {
	border: 2px solid red;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.slider .label-input-group {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider .label-input-group input {
	width: 100%;
	fill: salmon;
}

.submit-container {
	margin-top: 2rem;
	border-top: 2px solid var(--paper);
}

fieldset + fieldset {
	margin-top: 2rem;
}

fieldset {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border-top: 2px solid var(--paper);
}

.button-container {
	display: grid;
	gap: 1rem;
}

button {
	background-color: var(--splash-secondary);
	color: var(--ink-dark);
	border: 1px solid var(--splash-primary);
	min-width: 150px;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 5px;
	justify-self: start;
}

button:hover {
	background-color: var(--splash-secondary-pale);
	color: var(--splash-secondary);
}

button:active {
	color: var(--splash-secondary-dark);
	background-color: var(--splash-secondary);
	}

.feedback {
	margin-top: 20px;
	border-top: 2px solid var(--paper);
}

p.form-result {
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 2rem;
	padding: 1rem;
	border: 2px solid var(--splash-secondary);
	border-radius: 0.5rem;
	background-color: var(--paper);
	color: var(--ink);
}

/*Dark mode*/

@media (prefers-color-scheme: dark) {
	textarea {
		border: 1px solid var(--paper);
	}
	
	textarea::placeholder {
			color: #A1AA97;
	}

	.warning {
		color: var(--warning-light);
		border-left: 2px solid var(--warning-light);
	}
}
