form {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid var(--paper);
	border-radius: 0.5em;
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.field {

}

legend {

}


.warning {

}


fieldset + fieldset {
	margin-top: 2rem;
}


fieldset {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border-top: 2px solid var(--paper);
}

.measurements {
	font-family: var(--primary-font);
	margin-top: 5px;
}

.measurements input {
	border: 1px solid var(--splash-primary);
	border-radius: 0.5rem;
	background-color: snow;
	padding: 0.5rem;
	width: 10rem;
	margin-top: 0.5rem;
}

label {
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--ink);
	margin-top: 20px;
}

label, textarea {
	display: block;
}

textarea {
	margin-top: 10px;
	width: 100%;
	max-width: 500px;
	height: 5rem;
	font-family: var(--secondary-font);
	font-size: 1rem;
}

button {
	background-image: var(--splash-secondary);
	color: var(--ink-dark);
	border: 1px solid var(--splash-primary);
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 5px;
}

button:hover {
	background-image: none;
	background-color: var(--paper);
}

button:active {
	background-image: none;
	background-color: var(--splash-primary);
	}

.feedback {
	margin-top: 20px;
	border-top: 2px solid var(--paper);
}

.warning {
	margin-top: 20px;
	border-top: 2px solid #FF9D8A;
	color: #FF6D50;
}

@media (prefers-color-scheme: dark) {
	textarea {
		background-color: var(--ink-dark);
		color: var(--paper-light);
		border: 1px solid var(--paper);
	}
	
	textarea::placeholder {
			color: #A1AA97;
	}

	label {
		color: var(--paper);
	}

	.warning {
		color: #FF9D8A;
	}
}
