.page-title {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 600;
	margin-top: 20px;
}

.form-context {
	font-family: var(--primary-font);
	font-size: 1rem;
}

.page-title, .form-context, label, legend.field-title, p.form-results {
	color: var(--ink-dark);
}

@media (prefers-color-scheme: dark) {
	.page-title, .form-context, label, legend.field-title, p.form-results {
		color: var(--paper-light);
	}

.form-context:nth-of-type(1) {
	margin-top: 20px;
}

.form-context + .form-context {
	margin-top: 10px;
}

fieldset + fieldset {
	margin-top: 2rem;
}


fieldset {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border-top: 2px solid var(--paper);
}

legend.field-title {
	font-family: var(--primary-font);
	font-weight: 600;
	font-size: 1.25rem;
}

.measurements {
	font-family: var(--primary-font);
	margin-top: 5px;
}

.measurements input {
	border: 1px solid var(--splash-primary);
	border-radius: 0.5rem;
	background-color: snow;
	padding: 0.5rem;
	width: 10rem;
	margin-top: 0.5rem;
}

button {
	display: block;
	padding: 0.5rem 1.5rem;
	font-size: 1.25rem;
	margin-top: 20px;
	border: none;
	border-radius: 1rem;
	background-color: var(--splash-secondary);
	color: var(--paper-light);
	font-family: var(--primary-font);
}

p.form-results {
	margin-top: 20px;
	padding: 10px;
	border-radius: 0.5rem;
	background-color: var(--splash-primary);
	font-family: var(--primary-font);
	font-weight: 700;
}