.page-title {
	font-family: var(--primary-font);
	font-size: 2rem;
	color: black;
	font-weight: 600;
	margin-top: 20px;
}

.form-context {
	font-family: var(--primary-font);
	font-size: 1rem;
	color: black;
}

.form-context:nth-of-type(1) {
	margin-top: 20px;
}

.form-context + .form-context {
	margin-top: 10px;
}

.field + .field {
	margin-top: 20px;

}

.field {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border-top: 2px solid var(--paper);
}

p.field-title {
	font-family: var(--primary-font);
	font-weight: 600;
	color: black;
	font-size: 1.25rem;
}

.measurements {
	font-family: var(--primary-font);
	margin-top: 5px;
}

.measurements input {
	border: 1px solid var(--splash-primary);
	border-radius: 0.5rem;
	background-color: snow;
	padding: 0.5rem;
	width: 5rem;
}

button {
	display: block;
	padding: 0.5rem 1.5rem;
	font-size: 1.25rem;
	margin-top: 20px;
	border: none;
	border-radius: 1rem;
	background-color: var(--splash-secondary);
	color: var(--paper-light);
	font-family: var(--primary-font);
}

p.form-results {
	margin-top: 20px;
	padding: 10px;
	border-radius: 0.5rem;
	background-color: var(--splash-primary);
	color: var(--ink-dark);
	font-family: var(--primary-font);
	font-weight: 700;
}