/*Presets*/
/* Test comment
	Meyer Reset CSS
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Setup*/
/* Boilerplate formatting/styling - should not be custom to any project */
/* Test comment */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li,
span, a, table, tr, td, blockquote {
  line-height: 1.25em;
  letter-spacing: normal;
}

table {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}

/* Resizing images */
/* Explainer: https://codepen.io/perpetual-education/pen/dyNemyW?editors=1100 */
picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* GLOBAL LINKS RESET/SETUP*/
/*Explainer: https://codepen.io/perpetual-education/pen/VwPxxKg?editors=1100 */
a {
  display: block;
  text-decoration: none;
  /* remove default link styles */
  /* set links to be blocks so you can wrap thing */
  /* inline elements can't have block elements inside! */
}

p a { /* "all links in paragraphs..." */
  display: inline-block;
  text-decoration: underline;
}

/* yes! you might also want to do this for other headings and list items etc --- this is just a basic use-case */
/*Settings*/
/*Custom properties comment*/
body {
  --hue: 210;
  --paper: hsl(var(--hue), 60%, 98%);
  --paper-accent: hsl(var(--hue), 30%, 90%);
  --paper-grey: hsl(var(--hue), 15%, 75%);
  --ink: hsl(var(--hue), 70%, 15%);
  --ink-light: hsl(var(--hue) 15% 35%);
  --ink-grey: hsl(var(--hue), 15%, 50%);
  --highlight: hsl(calc(var(--hue) + 210), 70%, 70%);
  --focus: hsl(25, 100%, 60%);
  --primary-font: "Inter";
  --secondary-font: "Inter";
  --gap: 20px;
  --box-radius: 20px;
  --button-radius: 15px;
  --card-padding: 20px;
  --card-border: 1px solid hsl(var(--hue), 30%, 70%);
  --card-shadow: 0px 2px 3px 1px var(--paper-grey);
  --focus-shadow: 0 0 2px 2px var(--focus);
}

@media (prefers-color-scheme: dark) {
  body {
    --paper: hsl(var(--hue), 30%, 10%);
    --paper-accent: hsl(var(--hue), 25%, 20%);
    --paper-grey: hsl(var(--hue), 15%, 50%);
    --ink: hsl(var(--hue), 60%, 98%);
    --ink-light: hsl(var(--hue) 15% 85%);
    --ink-grey: hsl(var(--hue), 15%, 70%);
    --highlight: hsl(calc(var(--hue) + 150), 50%, 50%);
    --card-border: 1px solid hsl(var(--hue), 30%, 50%);
  }
}
/*Type patterns*/
.xxl-voice {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 500;
}

.xl-voice {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 500;
}

.large-voice {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 500;
}

.med-plus-voice {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 300;
}

.medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 300;
}

.small-voice {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-weight: 300;
}

/*Structure*/
inner-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem 0;
}
@media (min-width: 600px) {
  inner-column {
    padding: 0 1.5rem 0;
  }
}
inner-column.skinny {
  max-width: 700px;
}

.page-wrapper {
  padding-bottom: 50px;
}

left-side {
  display: block;
}
left-side .left-content {
  padding-top: calc(2 * var(--gap));
}

right-side {
  display: block;
}

.left-content, .right-content {
  display: flex;
  flex-direction: column;
  gap: calc(1.5 * var(--gap));
}

main {
  margin-top: calc(1.5 * var(--gap));
}

body:has(.componentLibrary) inner-column {
  max-width: 1200px;
}
body:has(.componentLibrary) section {
  padding-top: calc(2 * var(--gap));
  padding-bottom: calc(2 * var(--gap));
}
body:has(.componentLibrary) section:nth-of-type(odd) {
  background-color: var(--paper-accent);
}
body:has(.componentLibrary) section:nth-of-type(even) {
  background-color: var(--paper);
}

body:has(.styleGuide) right-side main section:not(:first-child) {
  margin-top: var(--gap);
}

@media (min-width: 1000px) {
  body:not(:has(.componentLibrary)) {
    display: grid;
    grid-template-columns: auto repeat(12, minmax(0, 75px)) auto;
    grid-template-rows: auto 1fr auto;
    gap: 0 var(--gap);
    min-height: 100dvh;
  }
  body:not(:has(.componentLibrary)) main {
    margin-top: 0;
  }
  body:not(:has(.componentLibrary)) .page-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  body:not(:has(.componentLibrary)) inner-column {
    margin: 0;
    max-width: unset;
    padding: 0;
  }
  body:not(:has(.componentLibrary)) .site-header, body:not(:has(.componentLibrary)) .site-footer, body:not(:has(.componentLibrary)) .page-wrapper {
    display: grid;
    grid-template-columns: subgrid;
  }
  body:not(:has(.componentLibrary)) .site-header, body:not(:has(.componentLibrary)) .page-wrapper, body:not(:has(.componentLibrary)) .site-footer {
    grid-column: 1/-1;
  }
  body:not(:has(.componentLibrary)) :is(.site-header, .site-footer, .page-wrapper) inner-column {
    grid-column: 2/-2;
  }
  body:not(:has(.componentLibrary)) left-side {
    grid-column: 1/7;
    margin-right: calc(-1 * var(--gap));
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
  body:not(:has(.componentLibrary)) right-side {
    grid-column: 7/-1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
  body:not(:has(.componentLibrary)) .left-content {
    grid-column: 2/-1;
    padding-right: calc(0.5 * var(--gap));
  }
  body:not(:has(.componentLibrary)) .right-content {
    grid-column: 1/-2;
    padding-left: calc(0.5 * var(--gap));
    padding-top: calc(2 * var(--gap));
  }
}

[role=list].numbered-list {
  list-style: decimal;
  padding-left: 1rem;
}

[role=list].bulleted-list {
  list-style: circle;
  padding-left: 1rem;
}

[role=list] li:first-of-type {
  margin-top: 0.5rem;
}

[role=list] li + li {
  margin-top: 1rem;
}

.list-item-title {
  font-family: var(--secondary-font);
  font-weight: 400;
}

/*Typography*/
body *::selection {
  background-color: var(--highlight);
}

p, li {
  max-width: 70ch;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

p, ul, ol, li, legend, label, .medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 300;
  color: var(--ink-light);
  line-height: 1.4;
}

h1, h2, h3, h4 {
  color: var(--ink);
}

figcaption {
  color: var(--ink);
  font-style: italic;
}

a, p a {
  color: var(--ink);
  text-decoration: underline;
  font-family: var(--primary-font);
}

@media (prefers-color-scheme: dark) {
  a:not(.site-nav a, .site-footer a, .link-out a), p a {
    color: var(--ink);
  }
}
/*margin & padding*/
text-content h1 + :is(h2, p, ul) {
  margin-top: 1rem;
}
text-content :is(h2, h3) + :is(p, ul) {
  margin-top: 0.75rem;
}
text-content p + p {
  margin-top: 1rem;
}

article h1, article h2, article h3 {
  margin-top: 1.25rem;
}
article h1 + h2, article h1 + p, article h2 + h3 {
  margin-top: 2rem;
}
article h2 + p {
  margin-top: 1.5rem;
}
article h3 + p {
  margin-top: 1rem;
}
article p + p {
  margin-top: 1rem;
}
article img + p {
  margin-top: 0.75rem;
}
article figcaption {
  margin-top: 0.5rem;
}

/*Components*/
/* Test rules */
/*label, label > * {border: 1px solid red}*/
/*Form structure */
form {
  padding: 10px;
  border: 2px solid var(--ink);
  border-radius: var(--box-radius);
  width: 100%;
  /*	min-height: 300px;*/
  display: grid;
  gap: 1.5rem;
  justify-items: start;
  font-family: var(--secondary-font);
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 400px) {
  form {
    padding: 5px;
  }
}
@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }
}

output {
  display: block;
}

form :is(h1, h2, h3, p, span) {
  margin-top: 0px;
}

/* Input fields */
label {
  display: block;
}

textarea {
  display: block;
  border: none;
  resize: vertical;
}

label.field {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
  width: 100%;
}

form :is(p, span, label) {
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: var(--ink);
}

form :is(.prepend, .append) {
  background-color: lightgrey;
  color: black;
  height: 100%;
}

/*Input styling*/
input-container {
  overflow: hidden;
}

input-container > * {
  padding: 0.5rem 1rem;
  background-color: transparent;
}
@media (max-width: 400px) {
  input-container > * {
    padding: 0.25rem 0.5rem;
  }
}

/*Text inputs */
.text input, select, .text textarea {
  font-family: var(--secondary-font);
  color: var(--ink);
  font-size: 1rem;
  width: 100%;
}

select {
  padding: 0.5rem 1rem;
  background-color: transparent;
}

input-container, select {
  border-radius: 0.5rem;
  border: 1px solid var(--ink);
  display: block;
  display: flex;
  align-items: center;
}

input-container:focus-within,
select:focus-within {
  background-color: var(--paper);
  outline: 1px solid var(--ink);
}

input:focus, textarea:focus {
  outline: 0;
}

input[type=checkbox]:focus, input[type=radio]:focus {
  outline: 1px solid var(--ink);
}

:is(.radio, .checkbox, .checkbox-pills, .slider) input-container {
  border: none;
}

:is(.checkbox, .radio) input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

radio-container, checkbox-container {
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox-pills input-container {
  display: flex;
  gap: clamp(1rem, 1rem, 50px);
}

.checkbox-pills label { /* aka the actual button */
  border: 2px solid var(--ink);
  padding: 0.5rem 1rem;
  border-radius: var(--button-radius);
  font-family: var(--secondary-font);
}

.checkbox-pills label:focus-within {
  background-color: var(--ink);
  color: var(--paper);
}

.slider input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider input {
  width: 100%;
}

.submit-container {
  margin-top: 2rem;
  border-top: 2px solid var(--paper);
}

.button-container {
  display: grid;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.actions checkbox-container {
  padding-left: 0;
}

/*utility classes*/
.span-one {
  grid-column: span 1;
}

.span-two {
  grid-column: span 2;
}
@media (max-width: 600px) {
  .span-two {
    grid-column: span 1;
  }
}

.warning {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  padding-left: 0.5rem;
  border-left: 2px solid firebrick;
  color: firebrick;
  font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
  .warning {
    color: hotpink;
    border-left: 2px solid hotpink;
  }
}
.slider input-container {
  padding: 0.5rem 0;
}
.slider input-container:focus-within {
  background-color: transparent;
  outline: 1px solid red;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-runnable-track {
  background: var(--paper);
  height: 0.5rem;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  background: var(--paper);
  height: 0.5rem;
  border-radius: 5px;
}

/***** Thumb Styles *****/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: red;
  height: 1.5rem;
  width: 0.5rem;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: red;
  height: 1.5rem;
  width: 0.5rem;
  border-radius: 5px;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]:focus::-webkit-slider-thumb {
  outline: 1.5px solid red;
}

/******** Firefox ********/
input[type=range]:focus::-moz-range-thumb {
  outline: 1.5px solid red;
}

.external-link-component {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.25rem;
}
.external-link-component [class^=icon-], .external-link-component [class*=" icon-"] {
  height: 1rem;
  width: 1rem;
}

button, .button {
  background-color: var(--paper);
  color: var(--ink);
  font-weight: 500;
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  min-width: 150px;
  border-radius: var(--button-radius);
  padding: 0.5rem 1rem;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 500;
  justify-self: start;
  text-wrap: nowrap;
  outline: 0;
}
button:active, .button:active {
  background-color: var(--ink);
  color: var(--paper);
}
button:focus, .button:focus {
  box-shadow: var(--focus-shadow);
  border-radius: var(--button-radius);
}

a.button {
  text-decoration: none;
  text-align: center;
}
a.button:active {
  border-color: var(--paper);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*:focus {
  box-shadow: var(--focus-shadow);
  border-radius: inherit;
  border: none;
  outline: 0;
}

/*Modules*/
a.skiplink {
  display: block;
  transform: translateX(-100%);
  text-align: center;
  height: 0;
}
a.skiplink:focus {
  transform: translateX(0);
  padding: 12px 0;
  height: unset;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .header-items {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
.header-items .site-nav-items {
  padding: 12px 0px;
  display: flex;
  gap: 1.25rem;
}
.header-items .site-nav-items a {
  text-decoration: none;
}
.header-items .site-nav-items .active {
  font-weight: 600;
}

.footer-list {
  display: flex;
  align-items: center;
  transform: translateX(-15px);
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials a {
  padding: 12px;
}

.hero-card .code-comment {
  color: var(--ink-grey);
}

.themeSelector {
  display: flex;
  gap: 4px;
  align-items: center;
}
.themeSelector:focus-within {
  box-shadow: var(--focus-shadow);
}
.themeSelector h2 {
  color: var(--ink);
}
.themeSelector p {
  height: 24px;
}
.themeSelector .palettes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  border: none;
}
.themeSelector .palettes * {
  cursor: pointer;
}
.themeSelector .colorSwatch {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 0;
  padding: 0;
  width: 24px;
  border: 1px solid transparent;
  border-radius: 5px;
  aspect-ratio: 1/1;
}
.themeSelector .colorSwatch.active {
  border: 2px solid hsl(var(--hue), 100%, 30%);
}
@media (prefers-color-scheme: dark) {
  .themeSelector .colorSwatch.active {
    border: 2px solid hsl(var(--hue), 100%, 98%);
  }
}
.themeSelector .colorSwatch:hover {
  border-radius: 25px;
}
.themeSelector .colorSwatch:focus-within {
  border-radius: 25px;
  box-shadow: var(--focus-shadow);
}
.themeSelector .colorSwatch input {
  opacity: 0;
}
.themeSelector .colorSwatch input:focus {
  box-shadow: unset;
}
.themeSelector .colorSwatch input::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.themeSelector [data-hue="0"] {
  background-color: hsl(0, 40%, 75%);
}
.themeSelector [data-hue="30"] {
  background-color: hsl(30, 40%, 75%);
}
.themeSelector [data-hue="60"] {
  background-color: hsl(60, 40%, 75%);
}
.themeSelector [data-hue="90"] {
  background-color: hsl(90, 40%, 75%);
}
.themeSelector [data-hue="120"] {
  background-color: hsl(120, 40%, 75%);
}
.themeSelector [data-hue="150"] {
  background-color: hsl(150, 40%, 75%);
}
.themeSelector [data-hue="180"] {
  background-color: hsl(180, 40%, 75%);
}
.themeSelector [data-hue="210"] {
  background-color: hsl(210, 40%, 75%);
}
.themeSelector [data-hue="240"] {
  background-color: hsl(240, 40%, 75%);
}
.themeSelector [data-hue="270"] {
  background-color: hsl(270, 40%, 75%);
}
.themeSelector [data-hue="300"] {
  background-color: hsl(300, 40%, 75%);
}
.themeSelector [data-hue="330"] {
  background-color: hsl(330, 40%, 75%);
}

biography-card {
  display: block;
  display: grid;
  gap: 20px;
  transition: 250ms background-color, color ease-in;
  max-width: 600px;
  background-color: var(--paper-accent);
  border: var(--card-border);
  border-radius: var(--box-radius);
  padding: calc(1.5 * var(--card-padding));
  box-shadow: var(--card-shadow);
  grid-template-areas: "portrait traits" "biography biography";
  grid-template-columns: 1fr 1fr;
}
biography-card picture {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
  overflow: hidden;
}
biography-card .bio-attributes {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-self: start;
}
biography-card picture {
  grid-area: portrait;
}
biography-card .bio-attributes {
  grid-area: traits;
  align-self: center;
}
biography-card text-content {
  grid-area: biography;
}
@media (max-width: 450px) {
  biography-card {
    padding: 0 0 calc(0.75 * var(--card-padding)) 0;
    overflow: hidden;
    grid-template-areas: "portrait" "biography" "traits";
    grid-template-columns: unset;
  }
  biography-card > * {
    padding: 0 calc(0.75 * var(--card-padding));
  }
  biography-card picture {
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--ink);
    border-radius: 0;
    max-width: unset;
  }
}

biography-controls {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 10px;
  container-type: inline-size;
}
biography-controls text-content p {
  margin-top: 0.5rem;
}
biography-controls .controlsForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 2px solid transparent;
  border-radius: 10px;
  padding-left: 0;
}
biography-controls .controlsForm:has(:focus) {
  box-shadow: var(--focus-shadow);
}
biography-controls .option {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 250px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--paper-grey);
  border-radius: var(--button-radius);
}
biography-controls .option:has(:checked) {
  background-color: var(--ink);
  transition: all 250ms;
}
biography-controls .option:has(:checked) label {
  color: var(--paper);
  font-weight: 500;
}
biography-controls .option:has(:checked) input {
  outline: 0;
  border: none;
  accent-color: var(--paper);
}
biography-controls .option:has(:checked) input:focus {
  box-shadow: unset;
}
biography-controls input::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.resume .section-title + * {
  margin-top: var(--gap);
}
.resume li + li h3 {
  margin-top: var(--gap);
}
.resume right-side section + section {
  margin-top: calc(1.5 * var(--gap));
}

@media (min-width: 1000px) {
  .resume-intro p {
    max-width: 35ch;
  }
}

.resume-work .job-group {
  margin-top: calc(2 * var(--gap));
}
.resume-work .job-group li {
  margin-top: var(--gap);
}

.resume-education .degree-title {
  border-left: 5px solid var(--ink);
  padding-left: 8px;
}
.resume-education .degree-subtitle {
  font-size: 0.75rem;
}
.resume-education .item + .item {
  margin-top: calc(2 * var(--gap));
}
.resume-education .item p {
  margin-top: calc(0.5 * var(--gap));
}

.skills-card {
  display: grid;
  gap: 10px;
}
.skills-card .skill-group {
  display: grid;
  gap: 10px;
}
.skills-card .skill-group + .skill-group {
  margin-top: 10px;
}
.skills-card .skill-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.skills-card .skill {
  padding: 0.5em 1em;
  border-radius: var(--button-radius);
  background-color: var(--paper-accent);
  color: var(--ink);
  font-weight: 500;
}

.projects-group + .projects-group {
  margin-top: calc(2 * var(--gap));
}

.projects-grid {
  margin-top: var(--gap);
}
.projects-grid ul {
  display: flex;
  flex-direction: column;
  gap: calc(0.25 * var(--gap));
}

.project-card {
  border: var(--card-border);
  background-color: var(--paper-accent);
  border-radius: var(--box-radius);
  padding: var(--card-padding);
  box-shadow: var(--card-shadow);
}
.project-card h3 {
  font-weight: 300;
}
.project-card p {
  margin-top: calc(0.5 * var(--gap));
}
.project-card .card-links {
  margin-top: calc(1.5 * var(--gap));
  display: flex;
  gap: 20px;
}

.section-intro {
  margin-top: calc(1.5 * var(--gap));
}

article section:first-of-type .section-intro {
  margin-top: 12px;
}
article section:first-of-type .section-intro h2 {
  margin-top: 0;
}

.project-text {
  margin-top: var(--gap);
}

.project-figure {
  margin-top: var(--gap);
}

.link-out {
  margin-top: var(--gap);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.link-out [class^=icon-], .link-out [class*=" icon-"] {
  height: 1.1rem;
  width: 1.1rem;
}
.link-out a {
  background-color: var(--ink);
  color: var(--paper);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--button-radius);
}

.link-group {
  margin-top: var(--gap);
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 475px) {
  .link-group {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.now-card {
  padding: var(--card-padding);
  max-width: 600px;
  border-radius: var(--box-radius);
  background-color: var(--paper-accent);
  border: var(--card-border);
  box-shadow: var(--card-shadow);
}
.now-card h2 {
  font-weight: 300;
}
.now-card li {
  font-weight: 300;
}

.now-grid .now-card + .now-card {
  margin-top: var(--gap);
}

/*Page heading*/
/*Article card*/
.layout-article-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--paper);
}

.layout-article-card :is(picture, img) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.layout-article-card text-content {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
}

.layout-article-card text-content :is(h1, p, a) {
  margin-top: 0px;
}

.layout-article-card text-content a {
  margin-top: 1.25rem;
}

.faq-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.faq-list-container text-content p {
  text-align: left;
  margin-top: 1rem;
}
.faq-list-container ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 900px) {
  .faq-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .faq-list-container li:first-of-type {
    padding-top: 16px;
  }
  .faq-list-container text-content {
    align-self: start;
  }
  .faq-list-container text-content h2 {
    margin-top: 1.75rem;
  }
  .faq-list-container text-content p {
    max-width: initial;
  }
  .faq-list-container ul {
    margin-top: 0;
  }
}

.faq-list-container faq-card {
  display: block;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid var(--ink-grey);
}
.faq-list-container faq-card details summary::-webkit-details-marker {
  display: none;
}
.faq-list-container faq-card summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  color: var(--ink-grey);
}
.faq-list-container faq-card details p.answer {
  margin-top: 0.75rem;
  padding-right: 2rem;
}
.faq-list-container faq-card .icon-container {
  width: 32px;
  height: 32px;
  padding: 0.25rem;
  transform: translateX(50%);
}
.faq-list-container faq-card .icon-container svg {
  stroke: var(--ink-grey);
  transition: transform 250ms ease;
}
.faq-list-container faq-card:has(details[open]) {
  border-bottom: 1px solid var(--ink);
}
.faq-list-container faq-card:has(details[open]) summary {
  color: var(--ink-dark);
}
.faq-list-container faq-card:has(details[open]) .icon-container svg {
  transform: rotate(-90deg);
  stroke: var(--ink);
}

text-content {
  display: block;
}
text-content h2 {
  font-size: clamp(1.25rem, 5vw, 2rem);
  font-weight: 600;
}

section.category-header {
  background-color: var(--paper-accent);
  padding: 12px 0;
}
@media (min-width: 1000px) {
  section.category-header {
    background-color: unset;
  }
  section.category-header div.category-header {
    border-left: 10px solid var(--ink);
    padding: 12px;
  }
}

.type-overview {
  font-weight: 400;
}
.type-overview p.xl-voice, .type-overview ul, .type-overview li {
  font-size: clamp(16px, 5vw, 32px);
}
.type-overview ul {
  margin-top: 1rem;
  font-weight: 600;
}

.type-voicings em {
  font-weight: 700;
}
.type-voicings h2.xxl-voice {
  margin-top: 1.25rem;
}
.type-voicings h2.xl-voice {
  margin-top: 1rem;
}
.type-voicings h2.large-voice {
  margin-top: 0.75rem;
}
.type-voicings h2.medium-voice {
  margin-top: 0.5rem;
}
.type-voicings h2.small-voice {
  margin-top: 0.25rem;
}

.colors-overview .color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1px;
}
.colors-overview .color {
  text-align: center;
  padding: 0.75rem 0;
}
.colors-overview .baseHue {
  background-color: hsl(var(--hue), 100%, 40%);
  color: var(--paper);
}
@media (prefers-color-scheme: dark) {
  .colors-overview .baseHue {
    color: var(--ink);
  }
}
.colors-overview .paper {
  background-color: var(--paper);
  color: var(--ink);
  border: 1px solid var(--paper-grey);
}
.colors-overview .paperAccent {
  background-color: var(--paper-accent);
  color: var(--ink);
}
.colors-overview .paperGrey {
  background-color: var(--paper-grey);
  color: var(--ink);
}
.colors-overview .ink {
  background-color: var(--ink);
  color: var(--paper);
}
.colors-overview .inkGrey {
  background-color: var(--ink-grey);
  color: var(--paper);
}

/*Sections (in this file)*/
body {
  background-color: var(--paper);
}

/*icon styling*/
[class^=icon-], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}
