/*Preset*/
@import "meyer-reset.css";

/*Setup*/
@import "setup.css";

/*Settings*/
@import "custom-properties.css";

/*Structure*/
@import "structure.css";
@import "list-styles.css";

/*Typography*/
@import "typography.css";

/*Components*/
@import "forms.css";

/*Modules*/
@import "modules.css";
@import "layout-modules.css";
@import "resume.css";
@import "site-header.css";
@import "site-footer.css";

/*Sections (in this file)*/

body {
	background-color: var(--paper-light);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header.site-header {
	background-color: var(--paper);
	border-bottom: 1px solid var(--splash-primary);
}

footer.site-footer {
	background-color: var(--paper);
	border-top: 1px solid var(--splash-primary);
}

section:not(.about-header) {
	padding-top: 5vh;
}

section:last-of-type:not(.about-header) {
	padding-bottom: 10vh;
}

/*icon styling*/

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}