@import "meyer-reset.css";
@import "setup.css";
@import "custom-properties.css";
@import "resume.css";
@import "forms.css";
@import "paint-calculator.css";

/*page structure*/

body {
	background-color: var(--paper-light);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-wrapper {
	flex-grow:1;
}


/*Here's a comment*/

.inner-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding-left: 20px;
	padding-right: 20px;
}

/*icon styling*/

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}

/*spacing*/

.hero-title {
	margin-top: 25px;
}

h2, h3 {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}

.content-subheader {
	margin-top: 15px;
}

.content-body {
	margin-top: 10px;
}

p + p, h2 + h3, h3 + p {
	margin-top: 10px;
}

p + p:last-of-type {
	margin-bottom: 20px;
}

h3 + div {
	margin-top: 20px;
}

/*header & footer styling*/

.site-header, .site-footer {
	background-color: var(--paper);
}

.site-header {
	padding: 10px;
	border-bottom: 1px solid var(--splash-primary);
}

.site-footer {
	margin-top: 20px;
}

.header-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	padding: 10px;
}

.site-nav-items {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

@media (max-width: 550px) {

	.header-items {
		flex-direction: column;
	}
}

@media (max-width: 380px) {

	.site-nav-items {
		flex-direction: column;
	}
}

.site-footer {
	border-top: 1px solid var(--splash-primary);
}

.footer-list {
	display: flex;
	align-items: center;
	transform: translateX(-20px);
}

.socials {
	display: flex;
	flex-direction: row;
}

.socials a {
	padding: 20px;
}

/*text styling*/

em {
	font-style: italic;
}

p, ul, ol, legend, .medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
	color: var(--ink);
}

.website-title {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--ink);
}

@media (max-width: 550px) {


	.website-title {
		font-size: 12vw;
	}
}

.hero-title {
	color: var(--ink);
}

.content-header {
	color: var(--ink);
}

.content-subheader {
	color: var(--ink-dark);
}


.list-item-title {
	font-family: var(--primary-font);
	font-weight: 600;
}

a, p a {
	color: var(--splash-secondary);
	text-decoration: underline;
}

/*body styling*/

[role="list"].numbered-list {
	list-style: decimal;
	padding-left: 1.1em;
}

[role="list"].bulleted-list {
	list-style: disc;
	padding-left: 1.1em;
}

.work-samples picture {
	max-width: 350px;
}

.work-samples {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.projects, .layouts, .graphics {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.work-samples {
		flex-direction: row;
	}

	.projects, .layouts, .graphics {
		align-items: center;
	}
}

/*dark mode*/

/*swap this out for the @prefers-dark-mode query once you get back online*/

@media (prefers-color-scheme: dark) {

	body {
		background-color: var(--ink-dark);
	}

	p, ul, ol, legend, .medium-voice, .small-voice {
		color: var(--paper-light);
	}

	.hero-title {
		color: var(--paper);
	}

	.content-header {
		color: var(--paper);
	}

	.content-subheader {
		color: var(--paper);
	}


	.list-item-title {
		font-weight: 700;
	}

	a:not(.site-nav a, .site-footer a), p a {
		color: var(--splash-primary);
		text-decoration: underline;
	}	

}

/* modules */

/* work-list on homepage */

.work-list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.work-list img {
	border-radius: 10px;
}

.work-list .xl-voice {
	font-size: 1.25rem;
}

@media (min-width: 500px) {
	.work-list {
		flex-direction: row;
	}
}


/* Affinity graphics */


.fu-gallery {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap:10px;
}

.fu-gallery li {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	text-align: center;
}

@media (min-width: 450px) {
	.fu-gallery {
		flex-direction: row;
		align-items: flex-start;
	}

	.fu-gallery li {
		width: 45%;
	}
}

@media (min-width: 600px) {
	.fu-gallery {
		flex-direction: row;
		align-items: flex-start;
	}

	.fu-gallery li {
		width: 30%;
	}
}

.random-gallery {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-top: 20px;
}

@media (min-width: 600px) {
	.random-gallery {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.random-gallery li {
		width: 45%;
	}
}

.dog-portrait {
	max-width: 400px;
	height: auto;
	border: 2px solid var(--splash-primary);
}

.dog-about-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}

.dog-card {
	padding: 20px;
	border: 2px solid var(--paper);
	border-radius: 1rem;
} 

@media (min-width: 550px) {
	.dog-about-section {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.dog-card {
		max-width: 40%;
	}
}

@media (min-width: 800px) {
	.dog-about-section {
		flex-wrap: nowrap;
	}

	.dog-card {
		max-width: 30%;
	}
}

/*borders for testing*/

/*.site-header > *, .site-header span {
	border: 2px solid red;
}

.site-nav-items {
	border: 2px solid black;
}*/
