em {
	font-style: italic;
}

p, ul, ol, li, legend, .medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
	color: var(--ink);
}

h1, h2, h3, h4 {
	color: var(--ink);
}

p, ul, ol, li, .medium-voice {
	color: var(--ink-dark);
}

.list-item-title {
	font-family: var(--secondary-item);
	font-weight: 600;
}

a, p a {
	color: var(--splash-secondary);
	text-decoration: underline;
}


@media (prefers-color-scheme: dark) {
	.list-item-title {
		font-weight: 700;
	}

	a:not(.site-nav a, .site-footer a), p a {
		color: var(--splash-primary);
		text-decoration: underline;
	}	
}