em {
	font-style: italic;
}

p, ul, ol, legend, .medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
	color: var(--ink);
}

.content-header {
	color: var(--ink);
}

.content-subheader {
	color: var(--ink-dark);
}


.list-item-title {
	font-family: var(--primary-font);
	font-weight: 600;
}

a, p a {
	color: var(--splash-secondary);
	text-decoration: underline;
}


@media (prefers-color-scheme: dark) {

	p, ul, ol, legend, .medium-voice, .small-voice {
		color: var(--paper-light);
	}

	.hero-title {
		color: var(--paper);
	}

	.content-header {
		color: var(--paper);
	}

	.content-subheader {
		color: var(--paper);
	}

	.list-item-title {
		font-weight: 700;
	}

	a:not(.site-nav a, .site-footer a), p a {
		color: var(--splash-primary);
		text-decoration: underline;
	}	
}