section.welcome {
	display: flex;
	flex-direction: row-reverse;
	gap: 1rem;
	align-items: center;
}

section.welcome picture {
	background-image: linear-gradient(180deg, var(--ink-dark) 20%, var(--paper));
	border-radius: 0.5rem;
	overflow: hidden;
}

section.welcome img {
}
