/*Custom properties comment*/

body {

/* Color styles */
	--transparent: hsla(0, 0%, 100%, 0);
	--divider: hsla(0, 0%, 0%, 0.11999999731779099);
	--white: hsla(0, 0%, 100%, 1);
	--black: hsla(0, 0%, 0%, 1);
	--a4: hsla(223, 77.8%, 98.2%, 1);
	--a8: hsla(223, 77.8%, 96.5%, 1);
	--a12: hsla(226, 77.8%, 94.7%, 1);
	--a16: hsla(226, 82.9%, 93.1%, 1);
	--a24: hsla(225, 81.1%, 89.6%, 1);
	--a32: hsla(224, 80.6%, 85.9%, 1);
	--a56: hsla(225, 80.8%, 75.5%, 1);
	--lighter: hsla(225, 80.8%, 69.4%, 1);
	--origin: hsla(225, 80.4%, 56.1%, 1);
	--darker: hsla(227, 77%, 52.4%, 1);
	--surface--level-0: hsla(0, 0%, 100%, 1);
	--surface--level-1: hsla(0, 0%, 98%, 1);
	--surface--level-2: hsla(0, 0%, 96.1%, 1);
	--system-grey--0: hsla(0, 0%, 100%, 1);
	--system-grey--50: hsla(0, 0%, 98%, 1);
	--system-grey--100: hsla(0, 0%, 96.1%, 1);
	--system-grey--200: hsla(0, 0%, 93.3%, 1);
	--system-grey--300: hsla(0, 0%, 87.8%, 1);
	--system-grey--350: hsla(0, 0%, 83.9%, 1);
	--system-grey--400: hsla(0, 0%, 74.1%, 1);
	--system-grey--450: hsla(0, 0%, 67.8%, 1);
	--system-grey--500: hsla(0, 0%, 62%, 1);
	--system-grey--600: hsla(0, 0%, 45.9%, 1);
	--system-grey--700: hsla(0, 0%, 38%, 1);
	--system-grey--800: hsla(0, 0%, 25.9%, 1);
	--system-grey--850: hsla(0, 0%, 16.1%, 1);
	--system-grey--900: hsla(0, 0%, 12.9%, 1);
	--system-grey--1000: hsla(0, 0%, 0%, 1);

	--primary-font: "Inter";
	--secondary-font: "Inter";
}

/*Type patterns*/

.xxl-voice {
	font-family: var(--primary-font);
	font-size: 3rem;
	font-weight: 600;
}

.xl-voice {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 600;
}

.large-voice {
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 400;
}

.medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
}

.small-voice {
	font-family: var(--secondary-font);
	font-size: 0.75rem;
	font-weight: 400;
}