section.hero {
	& .hero-container {
		display: grid;
		justify-items: center;
		gap: 3rem;
	}

	& text-content {
		display: grid;
		justify-items: center;
		gap: 1rem;
		text-align: center;

		.xxl-voice {
			font-size: clamp(1.5rem, 8vw, 3rem);
		}
	}

	& .actions-container {
		display: flex;
		gap: 1.5rem;
	}

	@media (max-width: 650px) {
		.actions-container {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}
	}
}

section.hero text-content {

	h1 {
		color: var(--system-grey--900);
	}

	p {
		color: var(--system-grey--800);
	}
}

body.blue section.hero text-content {

	h1 {
		color: var(--white);
		text-transform: uppercase;
	}

	p {
		color: var(--white);
	}
}

// body.wavy section.hero .wave-container {
// 	display: inline-block;
// 	position: relative;
// 	width: 100%;
// 	padding-bottom: 100%;
// 	vertical-align: middle;
// 	overflow: hidden;

// 	svg {
// 		display: inline-block;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 	}
// }