section.course-goals p + p {
	margin-top: 0px;
}

section.course-goals ul {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	border-top: 2px solid var(--splash-secondary);
}

section.course-goals ul li + li {
	margin-top: 1.25rem;
}

