.now-card {

	padding: var(--card-padding);
	max-width: 600px;
	border-radius: var(--box-radius);
	background-color: var(--paper-accent);
	border: var(--card-border);
	box-shadow: var(--card-shadow);

	h2 {
		font-weight: 300;
	}

	li {
		font-weight: 300;
	}

}