@import "meyer-reset.css";
@import "setup.css";


body {
	margin: 20px;
	border: 2px solid aquamarine;
}

/* Inner column & padding */

.inner-column {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.site-header, .hero, .main, .site-footer {
	padding: 20px;
}

/* Site header -------------- */

.site-header {
	border: 2px solid red;
	padding: 20px;
}

.header-items {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px 25px;
	border: 2px solid gold;
}

.brand-slot {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	border: 2px solid red;
}

.nav-items {
	border: 2px solid red;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 15px;
}


.site-logo {
	width: 50px;
	flex-shrink: 0;
}

/* Hero section -------------- */

.splash-img, .hero-items, .splash-text {
	border: 2px solid cornflowerblue;
}

.splash-img {
	width: 75vw;
}

@media (min-width: 610px) {
	.hero-items {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 15px;
	}

	.splash-img {
		width: 50%;
	}

	.splash-text {
		width: 50%;
	}

}


/* Main section -------------- */


/*	Borders -------*/

.main-list {
	border: 5px solid slateblue;
}

.main-list-item {
	border: 2px solid hotpink;
}

.main-list-img {
	width: 25vw;
}

.main-list-img {
	border: 2px solid red;
}

.main-list-subhead {
	border: 2px solid blueviolet;
}

.main-list-text {
	border: 2px solid gold;
}

.main-list-content {
	border: 5px solid firebrick;
}

/*Image sizing*/
@media (min-width: 610px) {
	.main-list-img {
		width: 25vw;
	}

}

@media (min-width: 990px) {
	.main-list-img {
		width: 25vw;
		max-width: 250px;
	}

}

/*Flexes -----------------*/

.main-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}

@media (min-width: 610px) {
	.main-list-item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
}

@media (min-width: 990px) {
	.main-list-item {
		flex-direction: column;
	}

	.main-list {
		flex-direction: row;
		justify-content: center;
	}

	.main-list-content {
		text-align: center;
	}
}



/* Site footer -------------- */

.footer-list {
	border: 2px solid firebrick;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}

.footer-text {
	border: 2px solid pink;
}

@media (min-width: 610px) {
	.footer-list {
		flex-direction: row;
	}
}


