@import "meyer-reset.css";
@import "setup.css";


body {
	margin: 20px;
	border: 2px solid aquamarine;
}

picture {
	width: 100px;
	height: 100px;
}

/* Inner column */

.inner-column {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}


/* Site header -------------- */

.site-header {
	border: 2px solid red;
}


/* Hero section -------------- */






/* Main section -------------- */






/* Site footer -------------- */