@import "meyer-reset.css";
@import "setup.css";


body {
	margin: 20px;
	border: 2px solid aquamarine;
}

/* Inner column */

.inner-column {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Site header -------------- */

.site-header {
	border: 2px solid red;
}


.site-logo {
	width: 50px;
}

/* Hero section -------------- */

.splash-img {
	width: 75vw;
}

@media (min-width: 610px) {
	.splash-img {
		width: 40vw;
	}

}

@media (min-width: 990px) {
	.splash-img {
		width: 40vw;
	}

}

/* Main section -------------- */

.main-list-img {
	width: 25vw;
}

@media (min-width: 610px) {
	.main-list-img {
		width: 25vw;
	}

}

@media (min-width: 990px) {
	.main-list-img {
		width: 25vw;
		max-width: 250px;
	}

}


/* Site footer -------------- */





