.header-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 1rem 0px;

	& * {
		flex-shrink: 0;
	}

	& .site-nav-items, .login-items {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	align-items: center;
	}

	& .language-dropdown {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		font-family: var(--secondary-font);
		font-weight: 700;
		text-decoration: none;
	}

	& .menu-hamburger {
		width: 32px;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		stroke: var(--origin);
	}
} //close .header-items

@media (max-width: 1099px) {
	.header-items {
		& .site-nav, .login-items {
			@include visually-hidden;
		}
	}
}

@media (min-width: 1100px) {
	.header-items {
		& 	.menu-hamburger {
			@include visually-hidden;
		}
	}
}

.site-nav a {
	text-decoration: none;
}

:is(body.home, body.blue) {
	.site-nav a {
		color: var(--system-grey--800);
		
		&.active {
			color: var(--origin);
			font-weight: 700;
		}
	}
}

body.home {
	.language-dropdown svg {
		stroke: var(--system-grey--700);
	}

	.language-dropdown span {
		color: var(--system-grey--700);
	}
}

body.wavy {
	.site-nav a {
		color: var(--system-grey--300);
		
		&.active {
			color: var(--white);
			font-weight: 700;
		}
	}

	:is(.menu-hamburger, .language-dropdown svg) {
		stroke: var(--white);
	}

	.language-dropdown span {
		color: var(--white);
	}
}