biography-card {
	display: block;
	display: grid;
	gap: 20px;

	max-width: 600px;
	background-color: var(--paper-accent);
	border: 1px solid var(--ink);
	border-radius: var(--box-radius);
	padding: calc(1.5 * var(--card-padding));
	box-shadow: var(--card-shadow);

	picture {
		width: 100%;
		max-width: 300px;
		border-radius: 20px;
		overflow: hidden;
	}

	.bio-attributes {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		justify-self: start;
		max-width: 30ch;
	}

	@media (min-width: 420px) {
		grid-template-areas:
			"portrait traits"
			"biography biography"
		;

		picture {
			grid-area: portrait;
		}

		.bio-attributes {
			grid-area: traits;
			align-self: center;
		}

		text-content {
			grid-area: biography;
		}
	}







}