biography-card {
	max-width: 600px;
	border: 2px solid var(--ink);
	border-radius: 5px;
	padding: 20px;

	display: block;
	display: grid;
	gap: 20px;

	picture {
		width: 100%;
		max-width: 300px;
	}

	.bio-attributes {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		justify-self: start;
		max-width: 30ch;
	}

	@media (min-width: 420px) {
		grid-template-areas:
			"portrait traits"
			"biography biography"
		;

		picture {
			grid-area: portrait;
		}

		.bio-attributes {
			grid-area: traits;
			align-self: center;
		}

		text-content {
			grid-area: biography;
		}
	}







}