
.work-list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.work-list img {
	border-radius: 10px;
}

.work-list .xl-voice {
	font-size: 1.25rem;
}

@media (min-width: 500px) {
	.work-list {
		flex-direction: row;
	}
}
