.article-parent {
	background-color: peachpuff;
}

.section-intro {
	padding: 1rem 0rem;
}

.section-intro > * {
	margin-top: 0.5rem;
	padding: 0.5rem;
}

.article-list {
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
}

.article-card {
	padding: 0.5rem;
}

.article-card > * {
	margin-top: 1rem;
	padding: 0.5rem;
}

/* 
grid-template-columns: repeat(3, 1fr) is the same as do 1fr 3 times aka 1fr 1fr 1fr

repeat(autofill, minmax(250px, 1fr)) tells it to autofill the space keeping the grid item 250px minimum 

*/ 