.purple-cta {
/*	background-color: lavender;*/
}

.red-cta {
/*	background-color: salmon;*/
}

.call-to-action > * {
	margin-top: 1rem;
	padding: 1rem 0.5rem;
}

@media (min-width: 660px) {
	.call-to-action {
	max-width: 600px;
	}
}

@media (min-width: 900px) {
	.call-to-action {
	max-width: 800px;
	}
}