.purple-cta {
	background-color: lavender;
}

.red-cta {
	background-color: salmon;
}

.cta-content > * {
	margin-top: 1rem;
	padding: 1rem 0.5rem;
}

@media (min-width: 660px) {
	.cta-content {
	max-width: 600px;
	}
}

@media (min-width: 900px) {
	.cta-content {
	max-width: 800px;
	}
}