.diptych {
	background-color: mintcream;
}

.diptych picture, .diptych-text {
	padding: 0.5rem;
}

.diptych .inner-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.diptych-text {
	padding: 1.5rem 0.5rem;
}

.diptych-text > * {
	margin-top: 0.5rem;
	padding: 1rem 0.5rem;
}


@media (min-width: 660px) {
	.diptych .inner-column {
		flex-direction: row-reverse;
	}
	
	.diptych .inner-column > * {
		width: 50%;
	}
}
