@import "meyer-reset.css";
@import "header.css";
@import "footer.css";
@import "structure.css";
@import "typography.css";
@import "diptych.css";
@import "cta.css";
@import "article-grid.css";


body * {
/*	border: 2px solid black;*/
}

.cta-button {
	background-color: black;
	color: white;
	text-decoration: underline;
	padding: 0.75rem 0.5rem;
}