h1, h2, h3, p, a, ul, ol, li {
	font-family: sans-serif;
}

.xxl-voice {
	font-size: 40px;
	font-weight:700;
}

.xl-voice {
	font-size:32px;
	font-weight:700;
}

.large-voice {
	font-size:24px;
	font-weight:700;
}

.medium-voice {
	font-size:16px;
	font-weight:400;
}