/*Custom properties*/

body {
	--light-neutral: #F5F5F5;
	--dark-neutral: #2F243A;
	--light-moderate: #BEBBBB;
	--dark-moderate: #444054;
	--bold-splash: #FAC9B8;
	--pale-splash: #DB8A74;

	--default-space: 10px;

	--primary-font: "Playfair Display";
	--secondary-font: "Roboto";

}


.shout-voice {
	font-family: var(--primary-font);
	color: ;

}

.raised-voice {
	font-family: var(--primary-font);
}

.normal-voice {
	font-family: var(--secondary-font);
}

.whisper-voice {
	font-family: var(--secondary-font);
}

.website-title {
	font-family: var(--serif-family);
	font-size: var(--body-size);
	font-weight: 700;
	color: var(--primary-header-light);
}

.nav-link {
	font-family: var(--serif-family);
	font-size: var(--body-size);
	color: var(--site-dark-purple);
}

.hero-title {
	font-family: var(--serif-family);
	font-size: var(--hero-size);
	font-weight: 700;
}

.content-header, .hero-content {
	font-family: var(--serif-family);
	font-size: var(--header-size);
	font-weight: 700;
}

.content-subheader {
	font-family: var(--sans-family);
	font-size: var(--subheader-size);
	font-weight: 600;
	font-style: italic;
}

p, ul, ol, .calm-voice {
	font-family: var(--sans-family);
	font-size: 1rem;
	font-weight: 400;
}

.list-item-title {
	font-weight: 700;
}

.content-link {
	font-family: var(--serif-family);
}