/*Custom properties*/

body {
	--light-neutral: #F5F5F5;
	--dark-neutral: #2F243A;
	--light-moderate: #BEBBBB;
	--dark-moderate: #444054;
	--bold-splash: #FAC9B8;
	--pale-splash: #DB8A74;

	--default-space: 10px;

	--primary-font: "Playfair Display";
	--secondary-font: "Roboto";

}


.shout-voice {
	font-family: var(--primary-font);
}

.raised-voice {
	font-family: var(--primary-font);
}

.normal-voice {
	font-family: var(--secondary-font);
}

.whisper-voice {
	font-family: var(--secondary-font);
}