@import "meyer-reset.css";
@import "setup.css";
@import "custom-properties.css";

body {
	background-color: #F5F5F5;
}

.inner-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

/*spacing*/

.hero-title {
	margin-top: calc(var(--default-space)*2.5);
}

.content-header {
	margin-top: calc(var(--default-space)*2);
}

.content-subheader {
	margin-top: calc(var(--default-space)*1.5);
}

.content-body {
	margin-top: var(--default-space);
}

p + p {
	margin-top: var(--default-space);
}

/*header styling*/

.site-header {
	padding: 10px;
	box-shadow: 0 0 10px var(--site-salmon);
}

.header-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.site-header-items {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

@media (max-width: 550px) {
	.header-items, .site-header-items {
		flex-direction: column;
	}
}

/*text styling*/

p, ul, ol, .normal-voice {
	font-family: var(--sans-family);
	font-size: 1rem;
	font-weight: 400;
}

.list-item-title {
	font-weight: 700;
}

/*body styling*/

[role="list"].numbered-list {
	list-style: decimal;
	padding-left: 1.1em;
}

[role="list"].bulleted-list {
	list-style: disc;
	padding-left: 1.1em;
}


/*footer styling*/

.site-footer {
	box-shadow: 0 0 5px var(--site-salmon);
}


/*borders for testing*/
/*
.site-header > *, .site-header span {
	border: 2px solid red;
}

.site-header-items {
	border: 2px solid black;
}*/
