@import "meyer-reset.css";
@import "setup.css";
@import "custom-properties.css";

body {
	background-color: var(--light-neutral);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-wrapper {
	flex-grow:1;
}


.inner-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

/*spacing*/

.hero-title {
	margin-top: 25px;
}

.content-header {
	margin-top: 20px;
}

.content-subheader {
	margin-top: 15px;
}

.content-body {
	margin-top: 10px;
}

p + p {
	margin-top: 10px;
}

/*header styling*/

.site-header {
	padding: 10px;
	box-shadow: 0 0 10px var(--bold-splash);
}

.header-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.site-header-items {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

@media (max-width: 550px) {
	.header-items, .site-header-items {
		flex-direction: column;
	}
}

/*text styling*/

p, ul, ol, .small-voice, .website-title {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
	color: var(--dark-neutral);
}

.hero-title {
	color: var(--dark-splash);
}

.content-header {
	color: var(--dark-moderate);
}

.content-subheader {
	color: var(--dark-splash);
}


.list-item-title {
	font-weight: 700;
}

a, p a {
	color: var(--bold-splash);
	text-decoration: underline;
}

/*body styling*/

[role="list"].numbered-list {
	list-style: decimal;
	padding-left: 1.1em;
}

[role="list"].bulleted-list {
	list-style: disc;
	padding-left: 1.1em;
}


/*footer styling*/

.site-footer {
	box-shadow: 0 0 5px var(--bold-splash);
}


/*dark mode*/

/*swap this out for the @prefers-dark-mode query once you get back online*/

@media (min-width:700px) {

	body {
		background-color: var(--dark-neutral);
	}

	p, ul, ol, .small-voice, .website-title {
		color: var(--light-neutral);
	}

	.hero-title {
		color: var(--light-splash);
	}

	.content-header {
		color: var(--light-moderate);
	}

	.content-subheader {
		color: var(--light-splash);
	}


	.list-item-title {
		font-weight: 700;
	}

	a, p a {
		color: var(--bold-splash);
		text-decoration: underline;
	}	

}

/*borders for testing*/
/*
.site-header > *, .site-header span {
	border: 2px solid red;
}

.site-header-items {
	border: 2px solid black;
}*/
