@import "meyer-reset.css";
@import "setup.css";
@import "custom-properties.css";


body {
	background-color: #F5F5F5;
}


.inner-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

/*header styling*/

.site-header {
	padding: 10px;
	box-shadow: 0 0 5px var(--site-salmon);
}

.header-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.site-header-items {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

@media (max-width: 550px) {
	.header-items, .site-header-items {
		flex-direction: column;
	}
}

/*borders for testing*/
/*
.site-header > *, .site-header span {
	border: 2px solid red;
}

.site-header-items {
	border: 2px solid black;
}*/
