quote-card {
	display: block;
	display: grid;
	justify-items: center;
	text-align: center;

	p.quote {
		color: var(--system-grey--800);
	}

	.stars {
		display: flex;
	}

	.client-portrait {
		max-width: 50px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		border: none;
		overflow: hidden;

		img {
			object-fit: cover;
			border: none;
		}
	}
}