
site-map {
	display: block;
	padding: 10vh 0 15vh;
}

site-map .nav-container {

/*	border: 4px solid green;*/

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
}

site-map .footer-logo {
	max-width: 100px;
	margin-top: 2rem;
	display: block;
}

site-map ul {
	margin-top: 0.5rem;
	list-style-type: circle;
	padding-left: 1.1em;
}

site-map nav {
	margin-top: 1rem;
}

site-map li {
	margin-top: 0.5rem;
}

site-map a:hover {
	text-decoration: underline;
}