.themeSelector {
	display: flex;
	gap: 8px;


	.palettes {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 5px;
	}

	.palettes button {
		min-width: 0;
		padding: 0;
		width: 24px;
		border: 1px solid transparent;
		border-radius: 5px;
		aspect-ratio: 1/1;
		cursor: pointer;

		&:hover {
			border-radius: 25px;
		}

		&:focus {
			border-radius: 25px;
			border: 2px solid var(--highlight);
		}

		&.active {
			border: 2px solid hsl(var(--hue), 100%, 30%);

			@media (prefers-color-scheme:dark) {
				border: 2px solid hsl(var(--hue), 100%, 98%);
			}
		}

	}


	[data-hue="0"] {
		background-color: hsl(0, 40%, 75%);
	}

	[data-hue="30"] {
		background-color: hsl(30, 40%, 75%);
	}

	[data-hue="60"] {
		background-color: hsl(60, 40%, 75%);
	}

	[data-hue="90"] {
		background-color: hsl(90, 40%, 75%);
	}

	[data-hue="120"] {
		background-color: hsl(120, 40%, 75%);
	}

	[data-hue="150"] {
		background-color: hsl(150, 40%, 75%);
	}

	[data-hue="180"] {
		background-color: hsl(180, 40%, 75%);
	}

	[data-hue="210"] {
		background-color: hsl(210, 40%, 75%);
	}

	[data-hue="240"] {
		background-color: hsl(240, 40%, 75%);
	}

	[data-hue="270"] {
		background-color: hsl(270, 40%, 75%);
	}
	
	[data-hue="300"] {
		background-color: hsl(300, 40%, 75%);
	}

	[data-hue="330"] {
		background-color: hsl(330, 40%, 75%);
	}

}