section.client-testimony {
	> * {
		margin-inline: auto;
	}

	& .client-testimony-container, text-content {
		display: grid;
		justify-items: center;
		gap: 20px;
	}

	& ul {
		width: 100%;

		.flickity-prev-next-button {
			width: 20px;
			height: 20px;
		}
	}
}

body.home section.client-testimony {

	ul {
		width: 80%;
	}

	.carousel-cell {
		width: 50%;
		margin-right: 8px;

		@media (max-width: 800px) {
			width: 100%;
		}

		@media (min-width: 1200px) {
			width: calc(100%/3);
		}
	}

	.flickity-prev-next-button.next {
		right: -20px;
	}

	.flickity-prev-next-button.previous {
		left: -20px;
	}

	@media (max-width: 400px) {
		
		quote-card .quote { //maybe delete once flickity is working
			font-size: 1rem;
		}
	}

} //	close home section

body.wavy section.client-testimony {
	.carousel-cell {
		width: 100%;
		margin-right: 8px;
	}

	.flickity-prev-next-button.next {
		right: -20px;
	}

	.flickity-prev-next-button.previous {
		left: -20px;
	}

} //	close wavy section

body.blue section.client-testimony {
	.client-testimony-container {
		grid-template-areas:
			"text-content text-content"
			"picture carousel"
		;
		grid-template-columns: 60% 40%;
	
		text-content {
			grid-area: text-content;
		}

		picture {
			grid-area: picture;
		}

		.flickity-viewport {
			height: 100%;
		}

	}

	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}











