@import "meyer-reset.css";

/* /////////// My styles /////////// */

* { box-sizing: border-box; }

body {
	background-color:snow;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	padding:25px;
	font-size:100%;
}

nav {
	padding: 10px;
	background-image: linear-gradient(90deg, snow, lavender, mistyrose, lavenderblush, snow);
	border-radius: 10px;
	max-width: 70%;
}

nav li {
	display: inline-block;
	padding-right: 10px;
}

nav a {
	color: firebrick;
}

h1 {
	font-family:sans-serif;
	font-size:2.5em;
	font-weight:bold;
	color:indianred;
	margin-top: 1em;
}

h2 {
	font-family:Baskerville;
	font-size:1.875em;
	font-weight:normal;
	line-height:1;
	color:darkslategrey;
}

h3 {
	font-family:sans-serif;
	font-size:1.4em;
	font-weight:bold;
	color:indianred;
}

p, ul, ol {
	max-width:82ch;
	font-family:Baskerville;
	font-size:16px;
	font-weight:normal;
	color: darkslategrey;
	letter-spacing:.01em;
	word-spacing:0.15em;
	line-height:1.5;
}

a {
	color:firebrick;
	font-family:Baskerville;
	font-size:16px;
}

a:hover {
	background-color: mistyrose;
}

table {
	font-family:Baskerville;
	color:darkslategrey;
	border-color:mistyrose;
	border-style:solid;
	border-width:2px;
	border-collapse:collapse;
}

img, table {
	margin-top: 15px;
	margin-bottom: 15px;
}

td {
	border-color:darkslategrey;
	border-style:solid;
	border-width:2px;
	padding:5px;
	padding-right:50px;
}

strong {
	font-weight: 600;
}

h2,
h2 + *,
h3 + *,
* + h2,
* + h3,
* + ul,
* + ol,
h1 + p
 {
	margin-top:1.25em;
}

iframe {
	margin-top: 1.5em;
	padding-right:20px;
}

p + p {
	margin-top:10px;
}

h2 + h2 {
	margin-top:5px;
}

.bulleted-list {
	margin-left: 20px;
	list-style-type: disc;
}

.numbered-list {
	margin-left: 20px;
	list-style-type: decimal;
}

.list-item-title {
	font-family: inherit;
	font-weight:600;
	font-size: inherit;
}

.resume-job-title, .resume-job-duration {
	display: inline-block;
	background-color: snow;
	border: 1px solid saddlebrown;
	border-radius: 10px;
	color: saddlebrown;
	padding: 1px 5px;
}
.resume-company-title {
	display: inline-block;
	background-color: indianred;
	border: 1px solid indianred;
	border-radius: 10px;
	color: snow;
	padding: 1px 5px;
}

.resume-skill {
	display:inline-block;
	background-color: lavender;
	border: 1px solid lavender;
	border-radius: 10px;
	color: indigo;
	padding: 1px 5px;
}

/*

still to do:
-create list styles for when i want bulleted/numbered lists
-create list styles for when i want lists to look invisible
-edit the margins on this second type of list


*/