section.grid-list {
  background-color: salmon;
}
section.grid-list .grid-list-container, section.grid-list text-content, section.grid-list .grid-list {
  display: grid;
  justify-items: center;
}
section.grid-list .grid-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
section.grid-list :is(.grid-list, text-content) a {
  display: flex;
  gap: 1rem;
}
