section.grid-content {

	& .grid-content-container, text-content {
		display: grid;
		justify-items: center;
	}

	.grid-list ul .icon-container {
		width: 50px;
		height: auto;
	}

	& :is(.grid-list, text-content) a {
		display: flex;
		gap: 1rem;
	}

	& picture.image {
		margin-top: 2rem;
		width: 100%;
		height: auto;
	}

	text-content {
		p.pre-heading {
			margin-bottom: 0.5rem;
		}

		h2 {
			text-align: center;
		}

		h2 + p {
			margin-top: 1rem;
		}
	}
} // close section.grid-content


body.home section.grid-content .grid-content-container {
	display: grid;
	gap: 2rem;
	align-items: start;
	grid-template-columns: 1fr 1fr;
	;

	text-content {
		justify-items: start;

		:is(h2, p) {
			text-align: left;
		}
	}

	@media (max-width: 800px) {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.grid-list ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1.5rem;

		li {
			display: grid;
			grid-template-columns: 50px 1fr;
			gap: 1.5rem;
		}

		@media (max-width: 400px) {
			grid-template-columns: 1fr;

			li {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}
		}
		
	}
} // close home > grid-content > container

body.wavy section.grid-content .grid-content-container {
	display: grid;
	gap: 2rem;

	.grid-list {
		margin-top: 3rem;
		width: 100%;

		ul {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 1.5rem;
			text-align: left;
		}

		li {
			border: 1px solid var(--system-grey--300);
			border-radius: 10px;
			padding: 1.5rem;

			.text-container {
				margin-top: 1.5rem;
			}

			h3 {
				font-weight: 700;
			}

			h3 + p {
				margin-top: 1rem;
			}
		}

	}


} // close wavy > grid-content > container

body.blue section.grid-content .grid-content-container {
	display: grid;
	gap: 2rem;

	.grid-list {
		margin-top: 3rem;
		width: 100%;

		ul {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 1.5rem;
			text-align: center;
		}

		li {
			display: grid;
			justify-items: center;
			padding: 1.5rem;

			.text-container {
				margin-top: 0.5rem;
			}

			h3 {
				font-weight: 700;
			}

			h3 + p {
				margin-top: 1rem;
			}
		}

	}


} // close wavy > grid-content > container















