.project-card {
	border: 1px solid var(--ink);
	background-color: var(--paper-accent);
	border-radius: var(--box-radius);
	padding: var(--card-padding);
	box-shadow: var(--card-shadow);

	h3 {
		font-weight: 300;
	}

	p {
		margin-top: calc(0.5 * var(--gap));
	}

	.card-links {
		margin-top: calc(1.5 * var(--gap));
		display: flex;
		gap: 20px;
	}

}