header.site-header {
	background-color: var(--white);
}

body.wavy header.site-header,
body.blue section.hero,
body:not(.wavy) footer.site-footer {
	background-color: var(--origin);
}

body.home section.hero {
	background-image: url('../images/diagonal-background.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

body.wavy section.hero {
	background-image: url('../images/wavy-background.svg');
	background-size: stretch;
	background-repeat: no-repeat;
}

section {

	padding: 10vh 5vw;

	&.hero {
		padding: 20vh 10vw;
	}
}