/*Preset*/
@import "_meyer-reset";

/*Setup*/
@import "_setup";

/*Settings*/
@import "_custom-properties";

/*Structure*/
@import "_structure";
@import "_list-styles";

/*Typography*/
@import "_typography";

/*Mixins*/
@import "_accessibility";

/*Components*/
@import "_components";
@import "_sections";

/*Modules*/
@import "_site-header";
@import "_site-footer";
@import "_modules"; //don't add any more to this list. import in modules.scss

/*Sections (in this file)*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section * {
	// border: 1px solid black;
}

text-content {
	display: block;
}
// test comment this