/*Preset*/
@import "_meyer-reset";

/*Setup*/
@import "_setup";

/*Settings*/
@import "_custom-properties";

/*Structure*/
@import "_structure";
@import "_list-styles";

/*Typography*/
@import "_typography";

/*Components & Mixins*/
@import "_accessibility";

/*Modules*/
@import "_site-header";
@import "_site-footer";
@import "_modules";

/*Sections (in this file)*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*icon styling*/

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}

body * {
	border: 1px solid black;
}

text-content {
	display: block;
}

// test comment this