.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 1rem 0px;
}
.header-items * {
  flex-shrink: 0;
}
.header-items .header-logo {
  width: 134px;
  height: auto;
}
.header-items .site-nav-items, .header-items .login-items {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
.header-items .language-dropdown picture {
  width: 53px;
  height: 24px;
}
.header-items .menu-hamburger {
  width: 50px;
  height: 50px;
}

@media (max-width: 999px) {
  .header-items .site-nav, .header-items .login-items {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
@media (min-width: 1000px) {
  .header-items .menu-hamburger {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
