/*Preset*/
@import "meyer-reset.css";

/*Setup*/
@import "setup.css";

/*Settings*/
@import "custom-properties.css";

/*Structure*/
@import "structure.css";
@import "list-styles.css";

/*Typography*/
@import "typography.css";

/*Components*/

/*Modules*/
@import "accessibility.css";
@import "modules.css";
@import "site-header.css";
@import "site-footer.css";

/*Sections (in this file)*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*icon styling*/

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}

body * {
	border: 1px solid black;
}