/*Preset*/
/* Test comment
	Meyer Reset CSS
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Setup*/
/* Boilerplate formatting/styling - should not be custom to any project */
/* Test comment */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li,
span, a, table, tr, td, blockquote {
  letter-spacing: normal;
}

table {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}

/* Resizing images */
/* Explainer: https://codepen.io/perpetual-education/pen/dyNemyW?editors=1100 */
picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* GLOBAL LINKS RESET/SETUP*/
/*Explainer: https://codepen.io/perpetual-education/pen/VwPxxKg?editors=1100 */
a {
  display: block;
  text-decoration: none;
  /* remove default link styles */
  /* set links to be blocks so you can wrap thing */
  /* inline elements can't have block elements inside! */
}

p a { /* "all links in paragraphs..." */
  display: inline-block;
  text-decoration: underline;
}

/* yes! you might also want to do this for other headings and list items etc --- this is just a basic use-case */
/*Settings*/
/*Custom properties comment*/
body {
  /* Color styles */
  --transparent: hsla(0, 0%, 100%, 0);
  --divider: hsla(0, 0%, 0%, 0.11999999731779099);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --a4: hsla(223, 77.8%, 98.2%, 1);
  --a8: hsla(223, 77.8%, 96.5%, 1);
  --a12: hsla(226, 77.8%, 94.7%, 1);
  --a16: hsla(226, 82.9%, 93.1%, 1);
  --a24: hsla(225, 81.1%, 89.6%, 1);
  --a32: hsla(224, 80.6%, 85.9%, 1);
  --a56: hsla(225, 80.8%, 75.5%, 1);
  --lighter: hsla(225, 80.8%, 69.4%, 1);
  --origin: hsla(225, 80.4%, 56.1%, 1);
  --darker: hsla(227, 77%, 52.4%, 1);
  --surface--level-0: hsla(0, 0%, 100%, 1);
  --surface--level-1: hsla(0, 0%, 98%, 1);
  --surface--level-2: hsla(0, 0%, 96.1%, 1);
  --system-grey--0: hsla(0, 0%, 100%, 1);
  --system-grey--50: hsla(0, 0%, 98%, 1);
  --system-grey--100: hsla(0, 0%, 96.1%, 1);
  --system-grey--200: hsla(0, 0%, 93.3%, 1);
  --system-grey--300: hsla(0, 0%, 87.8%, 1);
  --system-grey--350: hsla(0, 0%, 83.9%, 1);
  --system-grey--400: hsla(0, 0%, 74.1%, 1);
  --system-grey--450: hsla(0, 0%, 67.8%, 1);
  --system-grey--500: hsla(0, 0%, 62%, 1);
  --system-grey--600: hsla(0, 0%, 45.9%, 1);
  --system-grey--700: hsla(0, 0%, 38%, 1);
  --system-grey--800: hsla(0, 0%, 25.9%, 1);
  --system-grey--850: hsla(0, 0%, 16.1%, 1);
  --system-grey--900: hsla(0, 0%, 12.9%, 1);
  --system-grey--1000: hsla(0, 0%, 0%, 1);
  --primary-font: "Inter";
  --secondary-font: "Inter";
}
@media (prefers-color-scheme: dark) {
  body {
    --a4: hsla(228, 10.2%, 9.6%, 1);
    --a8: hsla(228, 16.1%, 12.2%, 1);
    --a12: hsla(228, 20%, 14.7%, 1);
    --a16: hsla(223, 24.1%, 17.1%, 1);
    --a24: hsla(224, 26.8%, 22%, 1);
    --a32: hsla(225, 29%, 27.1%, 1);
    --a56: hsla(225, 32.7%, 42%, 1);
    --lighter: hsla(224, 81.2%, 83.3%, 1);
    --origin: hsla(225, 80.8%, 69.4%, 1);
    --darker: hsla(225, 80.6%, 55.5%, 1);
    --surface--level-0: hsla(0, 0%, 7.1%, 1);
    --surface--level-1: hsla(0, 0%, 14.1%, 1);
    --surface--level-2: hsla(0, 0%, 10.6%, 1);
  }
}

/*Type patterns*/
.xxl-voice {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
}

.xl-voice {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 600;
}

.large-voice {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 400;
}

.medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
}

.small-voice {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-weight: 400;
}

/*Structure*/
.page-wrapper {
  flex-grow: 1;
}

inner-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 1.25rem 0;
}

p, li {
  max-width: 75ch;
}

@media (min-width: 600px) {
  inner-column {
    padding: 0 1.75rem 0;
  }
}
@media (min-width: 900px) {
  inner-column {
    padding: 0 2.25rem 0;
  }
}
[role=list].numbered-list {
  list-style: decimal;
  padding-left: 1rem;
}

[role=list].bulleted-list {
  list-style: disc;
  padding-left: 1rem;
}

[role=list] li:first-of-type {
  margin-top: 0.5rem;
}

[role=list] li + li {
  margin-top: 1rem;
}

.list-item-title {
  font-family: var(--secondary-item);
  font-weight: 400;
  color: var(--splash-secondary);
}

/*Typography*/
em {
  font-style: italic;
}

p, ul, ol, li, legend, .medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

p, .preheading, .description {
  color: var(--system-grey--600);
}

p.preheading {
  font-size: 0.75rem;
}

h1, h2, h3, h4 {
  color: var(--system-grey--900);
}

a, p a {
  text-decoration: none;
}

/*margin & padding*/
article h1, article h2, article h3 {
  margin-top: 1.25rem;
}
article h1 + h2, article h1 + p, article h2 + h3 {
  margin-top: 2rem;
}
article h2 + p {
  margin-top: 1.5rem;
}
article h3 + p {
  margin-top: 1rem;
}
article p + p {
  margin-top: 1rem;
}
article img + p {
  margin-top: 0.75rem;
}

/*Mixins*/
/*Components*/
.logo {
  width: 134px;
  height: auto;
  flex-shrink: 0;
}
.logo svg {
  width: 134px;
  height: 35px;
}

.site-header .logo {
  fill: var(--origin);
}

.site-footer .logo {
  fill: var(--white);
}

body.wavy .site-header .logo {
  fill: var(--white);
}
body.wavy .site-footer .logo {
  fill: var(--origin);
}

form {
  font-family: var(--secondary-font);
}
form .email-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 300px;
}
form label {
  background-color: white;
  border: 1px solid var(--system-grey--350);
  border-right: none;
  border-radius: 5px 0 0 5px;
  grid-column: span 5;
}
form input {
  background-color: transparent;
  padding: 1rem 15px;
  width: 100%;
}
form button {
  grid-column: span 1;
  padding: 0.75rem;
  background-color: var(--origin);
  border: 1px solid var(--origin);
  border-left: none;
  border-radius: 0 5px 5px 0;
  display: grid;
  justify-items: center;
  align-items: center;
}
form button .svg-icon {
  stroke: var(--white);
  width: 24px;
  margin: 0px;
}

.icon-placeholder {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.icon-placeholder svg {
  width: 100%;
  height: auto;
  fill: mistyrose;
  stroke: indianred;
}

.button {
  font-family: var(--secondary-font);
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 0.75rem;
}
.button.tight {
  padding: 0.5rem 1.25rem;
}
.button.tight.has-icon {
  padding-left: 1.5rem;
  padding-right: 1rem;
}
@media (max-width: 500px) {
  .button.tight {
    padding: 0.25rem 0.75rem;
  }
  .button.tight.has-icon {
    padding-left: 0.9rem;
    padding-right: 0.6rem;
  }
}
.button.spacious {
  padding: 1rem 3rem;
}
.button.spacious.has-icon {
  padding-left: 4rem;
  padding-right: 2rem;
}
@media (max-width: 500px) {
  .button.spacious {
    padding: 0.75rem 2rem;
  }
  .button.spacious.has-icon {
    padding-left: 2.4rem;
    padding-right: 1.6rem;
  }
}
.button.normal {
  padding: 0.75rem 1.5rem;
}
.button.normal.has-icon {
  padding-left: 0.9rem;
  padding-right: 0.6rem;
}
@media (max-width: 500px) {
  .button.normal {
    padding: 0.5rem 1rem;
  }
  .button.normal.has-icon {
    padding-left: 1.25rem;
    padding-right: 0.75rem;
  }
}
.button.round {
  border-radius: 5px;
}
.button.primary {
  background-color: var(--origin);
  border: 1px solid var(--origin);
  color: var(--white);
}
.button.primary svg {
  stroke: var(--white);
}
.button.secondary {
  background-color: var(--white);
  border: 1px solid var(--origin);
  color: var(--origin);
}
.button.secondary svg {
  stroke: var(--origin);
}
.button span {
  font-size: 1rem;
  font-weight: 500;
}

.links-container a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--origin);
}
.links-container .icon-container {
  display: grid;
  align-items: center;
}
.links-container svg {
  stroke: var(--origin);
  width: 1rem;
  height: 1rem;
}

video-player {
  display: block;
  display: grid;
  grid-template-areas: "area";
  place-items: center;
  min-width: 225px;
  width: 100%;
}
video-player .background {
  background-color: var(--a8);
  aspect-ratio: 16/9;
  width: 100%;
  grid-area: area;
}
video-player picture {
  padding: 8px;
  border: 2px solid var(--origin);
  border-radius: 50%;
  grid-area: area;
}
video-player picture svg {
  width: 48px;
  height: auto;
  transform: translateX(4px);
  stroke: transparent;
  fill: var(--origin);
}

header.site-header {
  background-color: var(--white);
}

body.wavy header.site-header,
body.blue section.hero,
body:not(.wavy) footer.site-footer {
  background-color: var(--origin);
}

body.home section.hero {
  background-image: url("../images/diagonal-background.svg");
  background-size: 100px;
  background-repeat: repeat;
}

body.wavy section.hero {
  background-image: url("../images/wavy-background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

section {
  padding: 10vh 5vw;
}
section.hero {
  padding: 20vh 10vw;
}
section text-content {
  text-align: center;
}
section text-content h2 {
  font-size: clamp(1.25rem, 5vw, 2rem);
  font-weight: 600;
}

/*Modules*/
.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 1rem 0px;
}
.header-items * {
  flex-shrink: 0;
}
.header-items .site-nav-items, .header-items .login-items {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
.header-items .language-dropdown {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-family: var(--secondary-font);
  text-decoration: none;
}
.header-items .menu-hamburger {
  width: 32px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  stroke: var(--origin);
}

@media (max-width: 1099px) {
  .header-items .site-nav, .header-items .login-items {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
@media (min-width: 1100px) {
  .header-items .menu-hamburger {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
.site-nav a {
  text-decoration: none;
}

:is(body.home, body.blue) .site-nav a {
  color: var(--system-grey--800);
}
:is(body.home, body.blue) .site-nav a.active {
  color: var(--origin);
  font-weight: 700;
}

body.home .language-dropdown svg {
  stroke: var(--system-grey--700);
}
body.home .language-dropdown span {
  color: var(--system-grey--700);
}

body.wavy .site-nav a {
  color: var(--system-grey--300);
}
body.wavy .site-nav a.active {
  color: var(--white);
  font-weight: 700;
}
body.wavy :is(.menu-hamburger, .language-dropdown svg) {
  stroke: var(--white);
}
body.wavy .language-dropdown span {
  color: var(--white);
}

.site-footer {
  padding: clamp(24px, 10vw, 80px) clamp(36px, 12vw, 120px);
}

.footer-list {
  display: flex;
  align-items: center;
  transform: translateX(-20px);
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials a {
  padding: 1.5rem;
}

.site-map > * {
  padding: 2rem 2.5rem;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-items .site-map {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.footer-items .secondary-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-items .secondary-footer .legal-menu ul {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .footer-items .secondary-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

.site-footer a {
  text-decoration: none;
  font-weight: 300;
}
.site-footer .legal-menu a {
  font-weight: 500;
}

body.wavy .site-footer .email-subscribe {
  background-color: var(--a8);
}
body.wavy .site-footer h3 {
  font-weight: 700;
  color: var(--system-grey--900);
}
body.wavy .site-footer a {
  color: var(--system-grey--500);
}
body.wavy .site-footer .legal-menu a, body.wavy .site-footer .socials a {
  color: var(--system-grey--700);
}

body.home .site-footer .email-subscribe, body.blue .site-footer .email-subscribe {
  background-color: var(--darker);
}
body.home .site-footer .email-subscribe p, body.blue .site-footer .email-subscribe p {
  color: rgba(255, 255, 255, 0.7);
}
body.home .site-footer h3, body.blue .site-footer h3 {
  font-weight: 700;
  color: var(--white);
}
body.home .site-footer a, body.blue .site-footer a {
  color: rgba(255, 255, 255, 0.7);
}
body.home .site-footer .legal-menu a, body.home .site-footer .socials a, body.blue .site-footer .legal-menu a, body.blue .site-footer .socials a {
  color: var(--white);
}

/*sections*/
section.hero .hero-container {
  display: grid;
  justify-items: center;
  gap: 3rem;
}
section.hero text-content {
  display: grid;
  justify-items: center;
  gap: 1rem;
  text-align: center;
}
section.hero text-content .xxl-voice {
  font-size: clamp(1.5rem, 8vw, 3rem);
}
section.hero .links-container {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 650px) {
  section.hero .links-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

section.hero text-content h1 {
  color: var(--system-grey--900);
}
section.hero text-content p {
  color: var(--system-grey--800);
}

body.blue section.hero text-content h1 {
  color: var(--white);
  text-transform: uppercase;
}
body.blue section.hero text-content p {
  color: var(--white);
}

section.see-it-now .see-it-now-container, section.see-it-now text-content, section.see-it-now .grid-list {
  display: grid;
  justify-items: center;
}
section.see-it-now text-content h2 {
  margin-top: 0.5rem;
}
section.see-it-now text-content h2 + p {
  margin-top: 1rem;
}
section.see-it-now video-player, section.see-it-now .links-container {
  margin-top: 3rem;
}
section.see-it-now .see-it-now-container > .icon-container {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--a8);
  border-radius: 50%;
  display: grid;
}
section.see-it-now .see-it-now-container > .icon-container svg {
  width: 2.5rem;
  height: 2.5rem;
}
section.see-it-now svg {
  stroke: var(--origin);
}

.highlighted-articles-container {
  display: grid;
  justify-items: center;
}
.highlighted-articles-container text-content {
  display: grid;
  justify-items: center;
}
.highlighted-articles-container text-content h2 {
  margin-top: 0.5rem;
}
.highlighted-articles-container ul {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.75rem;
  text-align: center;
}
.highlighted-articles-container ul h3 {
  font-weight: 700;
}
.highlighted-articles-container .links-container {
  margin-top: 3rem;
}

section.grid-content .grid-content-container, section.grid-content text-content {
  display: grid;
  justify-items: center;
}
section.grid-content .grid-list ul .icon-container {
  width: 50px;
  height: auto;
}
section.grid-content .grid-list li h3 {
  font-weight: 700;
}
section.grid-content :is(.grid-list, text-content) a {
  display: flex;
  gap: 1rem;
}
section.grid-content picture.image {
  margin-top: 2rem;
  width: 100%;
  height: auto;
}
section.grid-content text-content p.pre-heading {
  margin-bottom: 0.5rem;
}
section.grid-content text-content h2 + p {
  margin-top: 1rem;
}

body.home section.grid-content .grid-content-container {
  display: grid;
  gap: 2rem;
  align-items: start;
  grid-template-columns: 1fr 1fr;
}
body.home section.grid-content .grid-content-container text-content {
  justify-items: start;
}
body.home section.grid-content .grid-content-container text-content :is(h2, p) {
  text-align: left;
}
@media (max-width: 800px) {
  body.home section.grid-content .grid-content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
body.home section.grid-content .grid-content-container .grid-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}
body.home section.grid-content .grid-content-container .grid-list ul li {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1.5rem;
}
@media (max-width: 400px) {
  body.home section.grid-content .grid-content-container .grid-list ul {
    grid-template-columns: 1fr;
  }
  body.home section.grid-content .grid-content-container .grid-list ul li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

body.wavy section.grid-content .grid-content-container {
  display: grid;
  gap: 2rem;
}
body.wavy section.grid-content .grid-content-container .grid-list {
  margin-top: 3rem;
  width: 100%;
}
body.wavy section.grid-content .grid-content-container .grid-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  text-align: left;
}
@media (min-width: 1200px) {
  body.wavy section.grid-content .grid-content-container .grid-list ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 400px) {
  body.wavy section.grid-content .grid-content-container .grid-list ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
}
body.wavy section.grid-content .grid-content-container .grid-list li {
  border: 1px solid var(--system-grey--300);
  border-radius: 10px;
  padding: 1.5rem;
}
body.wavy section.grid-content .grid-content-container .grid-list li .text-container {
  margin-top: 1.5rem;
}
body.wavy section.grid-content .grid-content-container .grid-list li h3 + p {
  margin-top: 1rem;
}

body.blue section.grid-content .grid-content-container {
  display: grid;
  gap: 2rem;
}
body.blue section.grid-content .grid-content-container .grid-list {
  margin-top: 3rem;
  width: 100%;
}
body.blue section.grid-content .grid-content-container .grid-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  text-align: center;
}
body.blue section.grid-content .grid-content-container .grid-list li {
  display: grid;
  justify-items: center;
  padding: 1.5rem;
}
body.blue section.grid-content .grid-content-container .grid-list li .text-container {
  margin-top: 0.5rem;
}
body.blue section.grid-content .grid-content-container .grid-list li h3 + p {
  margin-top: 1rem;
}

.grid-card .icon-container {
  aspect-ratio: 1/1;
  padding: 0.75rem;
  background-color: var(--a8);
  border-radius: 50%;
}
.grid-card svg {
  stroke: var(--origin);
  width: 100%;
  height: auto;
}

section.client-testimony {
  display: grid;
  justify-items: center;
  gap: 20px;
}
section.client-testimony .client-testimony-container, section.client-testimony text-content {
  display: grid;
  justify-items: center;
  gap: 20px;
}
section.client-testimony carousel {
  display: block;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
}
section.client-testimony carousel ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
section.client-testimony .carousel-arrow {
  stroke: var(--system-grey--900);
}

quote-card {
  display: block;
  display: grid;
  justify-items: center;
  text-align: center;
}
quote-card p.quote {
  color: var(--system-grey--800);
}
quote-card .stars {
  display: flex;
}
quote-card .stars svg {
  fill: var(--origin);
}
quote-card .client-portrait {
  max-width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  overflow: hidden;
}
quote-card .client-portrait img {
  object-fit: cover;
  border: none;
}

section.call-to-action .call-to-action-container, section.call-to-action text-content {
  display: grid;
  justify-items: center;
}

.faq-list-container summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.faq-list-container details[open] {
  border: 2px solid pink;
}

/*Sections (in this file)*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

text-content {
  display: block;
}
