.now-card {

	padding: 12px;
	max-width: 600px;
	border-radius: var(--box-radius);
	background-color: var(--paper-accent);
	border: 1px solid var(--ink);

	h2 {
		font-weight: 300;
	}

	li {
		font-weight: 300;
	}


	&:hover {
		background-color: var(--ink);
		
		h2, li {
			color: var(--paper);
		}
	}

}