.faq-list-container faq-card {
	display: block;
	padding: 1rem 1rem 1rem 0;
	border-bottom: 1px solid var(--ink-grey);

	details summary::-webkit-details-marker {
		display: none;
	}

	summary {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		align-items: center;
		color: var(--ink-grey);
	}

	details p.answer {
		margin-top: 0.75rem;
		padding-right: 2rem;
	}

	.icon-container {
		width: 32px;
		height: 32px;
		padding: 0.25rem;

		transform: translateX(50%) rotate(-90deg);

		svg {
			stroke: var(--ink-grey);
			transition: transform 250ms ease;
		}
	}

	&:has(details[open]) {
		border-bottom: 1px solid var(--ink);

		p.question {
			font-weight: 600;
		}

		summary {
			color: var(--ink-dark);
		}

		.icon-container svg {
			transform: rotate(180deg);
			stroke: var(--ink);
		}

	}
}











