html {
	--paper: #F5FEFB;
	--ink: #082B1F;

	--primary-brand: #17825E;
	--primary-accent: #D9F2EA;

	--secondary-brand: #4055BF;
	--secondary-accent: #CCD5FF;

	--tertiary-brand: #FFBB33;
	--tertiary-accent: #FFEECC;

	--shadow: rgba(0, 0, 0, 0.8);

	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;

	--primary-font: "Vidaloka";
	--secondary-font: "Ubuntu";
}