/* 
	BTW in case it isn't obvious... the whole PSSST-CSS idea is a joke 
	like... (it's just CSS)
*/

/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.site-header {
	background-color: var(--paper-blur);
	box-shadow: 0 0 1rem 0 rgba(0,0,0,0.1);
	position: sticky;
	top: 0;
}

footer {
	background-color: var(--ink);
	color: var(--primary-accent);
}

section:is(.sign-up, .get-involved /*, .selling-points*/ ) inner-column {
	max-width: var(--tight);
}

section.welcome {
	background-color: var(--paper);
	color: var(--ink);
}

@media (min-width:  700px) {
	section.welcome {
		background-image: url("../images/squares.svg");
		background-size: cover;
		background-color: transparent;
	}
}

section.sign-up {
	background-color: var(--primary-brand);
	color: var(--paper);
}

section.sign-up .button {
	background-color: var(--secondary-brand);
	color: var(--paper);
}

section.get-involved {
	background-color: var(--secondary-brand);
	color: var(--paper);
}

section.get-involved .button {
	background-color: var(--tertiary-brand);
	color: var(--ink);
}
