/* could we pull in @fonts here? */

.loud-voice	{
	font-family: var(--primary-font), serif;
	font-size: clamp(2.5rem, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice	{
	font-family: var(--primary-font), serif;
	font-size: 2rem;
	line-height: 1.2;
}

.strong-voice	{
	font-family: var(--primary-font), serif;;
	font-weight: 700;
	font-size:  1.25rem;
}

.calm-voice, p, li {
	font-family: var(--secondary-font), serif;
	font-size: 1rem;
	line-height: 1.4;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}