.skill-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

.skill {
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	background-color: var(--splash-primary);
	color: var(--ink-dark);
}

@media (prefers-color-scheme: dark) {
	.skill {
		background-color: var(--splash-secondary);
		color: var(--ink-dark);
	}
}