section.client-testimony {
	> * {
		margin-inline: auto;
	}


	// display: grid;
	// justify-items: center;
	// gap: 20px;

	& .client-testimony-container, text-content {
		display: grid;
		justify-items: center;
		gap: 20px;
	}

	& carousel {
		margin-top: 3rem;
		gap: 2rem;
		display: block;
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		justify-items: center;

		& ul {
			display: grid;
			gap: 1.5rem;
		}
	}

	.carousel-arrow {
		stroke: var(--system-grey--900);
	}
}

body.home section.client-testimony {
	carousel ul {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // default
	}

	@media (max-width: 800px) {
		carousel li:nth-of-type(3) {
			display: none;
		}
	}
} //	close home section

body.wavy section.client-testimony {
	carousel {
		grid-template-columns: auto 60% auto;

		li:nth-of-type(2n + 1) {
			display: none;
		}
	}
} //	close wavy section

body.blue section.client-testimony {
	.client-testimony-container {
		grid-template-areas:
			"text-content text-content"
			"picture carousel"
		;
		grid-template-columns: 1fr 1fr;
	
		text-content {
			grid-area: text-content;
		}

		picture {
			grid-area: picture;
		}

		carousel {
			grid-area: carousel;
		}
	}
}











