.type-voicings {
	em {
		font-weight: 700;
	}

	h2.xxl-voice {
		margin-top: 1.25rem;			
	}

	h2.xl-voice {
		margin-top: 1rem;			
	}

	h2.large-voice {
		margin-top: 0.75rem;			
	}

	h2.medium-voice {
		margin-top: 0.5rem;			
	}

	h2.small-voice {
		margin-top: 0.25rem;			
	}

}