.faq-list-container {
	display: flex;
	flex-direction: column;
	align-items: start;

	text-content {

		p {
			text-align: left;
			margin-top: 1rem;
		}
	}

	ul {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	@media (min-width: 900px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		li:first-of-type {
			padding-top: 16px;
		}

		text-content {
			align-self: start;

			h2 {
				margin-top: 1.75rem;
			}

			p {
				max-width: initial;
			}
		}

		ul {
			margin-top: 0;
		}
	}

} //faq-list-container