header.site-header {
	background-color: var(--white);
}

body.wavy header.site-header,
body.blue section.hero,
body:not(.wavy) footer.site-footer {
	background-color: var(--origin);
}

body:is(.home, .wavy) section.hero {
	background-image: url('../images/diagonal-background.svg');
	background-size: 100px;
	background-repeat: repeat;
}

section {

	padding: 10vh 0 10vh 0;

	&.hero {
		padding: 20vh 10vw;

		@media (max-width: 500px) {
			padding: 10vh 2.5vw;
		}
	}

	text-content {
		display: block;
		text-align: center;
		
		h2 {
			font-size: clamp(1.25rem, 5vw, 2rem);
			font-weight: 600;
		}
	}
}