* {
	box-sizing: border-box;
	margin: 0;
}

html {
	background-color: rgb(20, 23, 26);
}

body {
	margin-inline: auto;
	padding: 0 5vw;
	max-width: 1200px;
	color: rgb(231, 233, 234);
	font-family: "Roboto";

	ul, ol, li {
		list-style-type: none;
		padding: 0;
	}
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

main {
	display: grid;
	gap: 20px;
}

@media (min-width: 700px) {
	main {
		grid-template-areas:
		"header header"
		"form feed";

		grid-template-columns: 1fr minmax(250px, 1fr);
	}

	header {
		grid-area: header;
	}

	form {
		grid-area: form;
		align-self: start;
	}

	output {
		grid-area: feed;
	}
}

header {
	padding-top: 20px;
	display: flex;
	gap: 20px;
	align-items: center;

	h1 {
		font-size: 4rem;
		margin: 0;
	}

	picture {
		width: 4rem;
		height: 4rem;
	}
}

form {
	border: 1px solid rgba(231, 233, 234, 0.5);
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	h1, h2, h3 {
		margin: 0;
	}

	.question + .question {
		margin-top: 10px;
	}

	select, input {
		border: 1px solid rgba(231, 233, 234, 0.5);
		display: block;
		width: 100%;
		background-color: inherit;
		font-family: inherit;
		color: inherit;
		padding: 10px;
		font-size: 1rem;
		border-radius: 5px;
	}

	label + * {
		margin-top: 10px;
	}

	textarea {
		width: 100%;
		resize: vertical;
		border-radius: 5px;
		background-color: rgba(20, 23, 26, 0.5);
		color: white;
		font-family: inherit;
		font-size: 1rem;
		padding: 20px;
	}

	button {
		padding: 0.5rem 1.2rem;
		background-color: #1DA1F2;
		white-space: nowrap;
		font-family: inherit;
		font-size: 1rem;
		font-weight: 700;
		color: white;
		border: 1px solid black;
		border-radius: 25px;

		align-self: start;
	}
}

li + li {
	margin-top: 10px;
}

tweet-card {
	display: block;
	padding: 20px;
	@media (max-width: 450px) {
		padding: 15px;
	}
	border: 1px solid rgba(231, 233, 234, 0.5);
	border-radius: 5px;

	display: grid;
	grid-template-areas:
		"photo identity"
		"photo tweet"
		". actions";

	grid-template-columns: auto 1fr;
	gap: 15px 20px;


	@media (max-width: 550px) {
		grid-template-areas:
			"photo identity"
			"tweet tweet"
			"actions actions";

		gap: 20px 10px;
	}

	* {
		margin: 0;
	}

	&.flagged {
		border-color: firebrick;
		background-color: maroon;
	}

	.profile-photo {

		grid-area: photo;

		width: 50px;
		height: 50px;

		img {
			aspect-ratio: 1 / 1;
		}
	}

	.identity {
		display: flex;
		gap: 10px;
		align-self: start;
		grid-area: identity;

		@media (max-width: 550px) {
			flex-direction: column;
			gap: 5px;
		}

		.author {
			font-weight: 700;
		}

		.handle {
			color: rgba(231, 233, 234, 0.5);
		}
	}

	.tweet-body {
		grid-area: tweet;
		align-self: start;
	}

	.actions {
		margin-top: 10px;
		grid-area: actions;

		display: flex;
		gap: 30px;

		picture {
			width: 25px;
			height: 25px;
		}

		button * {
			pointer-events: none;
		}

		button {
			appearance: none;
			-webkit-appearance: none;
			background: transparent;
			border: none;
			cursor: pointer;
		}


	}
}