.site-header:has(.site-nav.open) {
	position: relative;
}

.header-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 1rem 0;

	* {
		flex-shrink: 0;
	}

	.site-nav-items, .login-items {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		align-items: center;
	}

	.language-dropdown {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		font-family: var(--secondary-font);
		font-weight: 700;
		text-decoration: none;
	}

	.menu-hamburger {
		cursor: pointer;
		background-color: transparent;
		border: none;
		width: 36px;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		stroke: var(--origin);
	}

	.exit-menu {
		justify-self: end;
		cursor: pointer;
		background-color: transparent;
		border: none;
		padding: 0;
		width: 28px;
		aspect-ratio: 1 / 1;
		transform: translate(-8px, 8px) rotate(45deg);

		svg {
			transform: translateX(-8px);
			stroke: var(--origin);
			stroke-width: 8.33;
			stroke-linecap: round;
			fill:none;
		}
	}
} //close .header-items

@media (max-width: 849px) {
	.header-items {

		.login-items {
			@include visually-hidden;
		}

		.site-nav {
			position: absolute;
			top: 0;
			left: 0;
			background-color: hsla(0, 100%, 100%, 0.85);
			backdrop-filter: blur(15px);
			-webkit-backdrop-filter: blur(15px);
			height: 100vh;
			width: 100vw;
			padding: 20px;
			display: grid;
			align-content: start;
			
			.site-nav-items {
				justify-self: center;
				flex-direction: column;
				align-items: center;
				padding-top: 28px;
			}

			&.closed {
				transform: translateX(-200%);
			}

			&.open {
				transform: translateX(0);
				z-index: 500;
			}
		}
	}
}

@media (min-width: 850px) {
	.header-items {
		.menu-hamburger, .exit-menu {
			@include visually-hidden;
		}
	}
}

	.site-nav a {
		color: var(--system-grey--800);
		text-decoration: none;
		
		&.active {
			color: var(--origin);
			font-weight: 700;
		}
	}

body.home {
	.language-dropdown svg {
		stroke: var(--system-grey--700);
	}

	.language-dropdown span {
		color: var(--system-grey--700);
	}
}

body.wavy {
	@media (min-width: 850px) {
		.site-nav a {
			color: var(--system-grey--300);
			
			&.active {
				color: var(--white);
				font-weight: 700;
			}
		}		
	}

	:is(.menu-hamburger, .language-dropdown svg) {
		stroke: var(--white);
	}

	.language-dropdown span {
		color: var(--white);
	}
}