/* Structure */

label, textarea {
	display: block;
}

form {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid var(--paper);
	border-radius: 0.5em;
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

legend {
	padding-right: 0.5rem;
}

.warning {
	margin-top: 0.25rem;
	padding-left: 0.5rem;
	border-left: 2px solid var(--warning-dark);
	color: var(--warning-dark);
	font-size: 0.9rem;
}

label {
	font-family: var(--primary-font);
	font-size: 1rem;
	color: var(--ink);
}

/*Input styling*/

.short-text input, .long-text textarea, .number input {
	border-radius: 0.5rem;
	border: 1px solid var(--splash);
	background-color: snow;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	font-family: var(--primary-font);
	color: var(--ink);
}

.label-input-group {
	margin-top: 0.5rem;
}

.label-input-group + .label-input-group {
	margin-top: 1.25rem;
}

.radio .label-input-group {
	border: 2px solid red;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.slider .label-input-group {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider .label-input-group input {
	width: 100%;
	fill: salmon;
}

.checkbox-option, .radio-option {
	display: flex;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.submit-container {
	margin-top: 2rem;
	border-top: 2px solid var(--paper);
}

fieldset + fieldset {
	margin-top: 2rem;
}


fieldset {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border-top: 2px solid var(--paper);
}

button {
	border: 1px solid var(--splash);
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-family: var(--primary-font);
	font-size: 1rem;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 5px;
	background-color: var(--splash-pale);
	color: var(--splash-secondary);
}

button:hover {
	color: var(--paper-light);
	background-color: var(--splash);
}

button:active {
	background-color: var(--ink-dark);
	color: var(--paper-light);
}

.feedback {
	margin-top: 20px;
	border-top: 2px solid var(--paper);
}

p.form-result {
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 2rem;
	padding: 1rem;
	border: 2px solid var(--splash-secondary);
	border-radius: 0.5rem;
	background-color: var(--paper);
	color: var(--ink);
}

/*Dark mode*/

@media (prefers-color-scheme: dark) {
	textarea {
		background-color: var(--ink-dark);
		color: var(--paper-light);
		border: 1px solid var(--paper);
	}
	
	.short-text input, .long-text textarea {
		background-color: var(--paper-light);
		color: var(--ink-dark);
	}

	textarea::placeholder {
			color: #A1AA97;
	}

	label {
		color: var(--paper);
	}

	.warning {
		color: var(--warning-light);
		border-left: 2px solid var(--warning-light);
	}

	button {
	background-color: var(--paper);
	color: var(--ink-dark);
	border-color: var(--ink);
	}

	button:hover {
		background-color: var(--splash-pale);
		color: var(--splash-secondary);
	}

	button:active {
		color: var(--paper-light);
		background-color: var(--splash);
	}
}
