/*Gallery styling*/

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	gap: 1rem;
}

@media (min-width: 900px) {
	.gallery {
		grid-template-columns: unset;
	}
}

/*Gallery card styling*/

.gallery-card {
	border: 2px solid var(--splash-dark);
	background-color: var(--splash-dark);
	border-radius: 1em;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.gallery-card .clickable-pic {
	height: auto;
}

.gallery-card img {
	border-radius: 0.5rem;
}

.gallery-card a.medium-voice {
	margin-top: 0.5rem;
}

.gallery-card p {
	color: white;
}

.gallery-card a {
	color: var(--paper-light);
}

@media (min-width: 600px) {
	.gallery-card:first-of-type {
		grid-column: 1/3;
	}
}

@media (min-width: 900px) {

	.gallery-card {
		border: 5px solid var(--splash-dark);
		position: relative;
		background-color:transparent;
		padding: 5rem 0;
	}

	.gallery-card .clickable-pic {
		border: 5px var(--splash-dark);
		border-radius: 0.5rem;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	.gallery-card picture {
		width: 100%;
		height: 100%;
	}

	.gallery-card img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.gallery-card-text {
		background-color: var(--splash-blur);
		padding: 0.5rem;
		z-index: 5;

	}
}