.gallery {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}


.gallery-card {
	border: 2px solid var(--splash);
	background-color: var(--splash);
	border-radius: 1em;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 80%;
}

.gallery-card .clickable-pic {
	height: auto;
}

.gallery-card img {
	border-radius: 0.5rem;
}

.gallery-card a.medium-voice {
	margin-top: 0.5rem;
}

.gallery-card p {
	color: white;
}

.gallery-card a {
	color: var(--paper-light);
}

@media (min-width: 600px) {
/*	.gallery-card > * {
		border: 2px solid black;
	}*/

	.gallery {
		flex-direction: column;
	}

	.gallery-card {
		flex-direction: row;
		align-items: flex-start;
		max-width: none;
		align-items: space-between;
	}

	.gallery-card .clickable-pic {
		max-width: 33%;
		height: auto;
	}
}

@media (min-width: 900px) {
	.gallery-card {
		background-color: transparent;
		border: 2px solid var(--splash-dark);
		position: relative;
		padding: 0px;
	}

	.gallery-card .clickable-pic {
		max-width: none;
		width: 100%;
		height: auto;
	}

	.gallery-card-text {
		background-color: var(--splash-dark);
		padding: 0.5rem;
		position: absolute;
		width: 85%;
		bottom: 25%;
	}
}