@import "meyer-reset.css";
@import "setup.css";
@import "custom-properties.css";
@import "forms.css";
@import "gallery-card.css";



main {
	background-color: var(--paper-light);
}

.inner-column {
	padding: 0.5em 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

/* Typography */

h1, h2, h3, p, nav {
	font-family: var(--primary-font);
	color: var(--ink);
}

a {
	color: var(--splash);
	text-decoration: underline;
}

/* Header styling*/

header {
	border-bottom: 2px solid var(--splash);
	background-color: var(--splash-pale);
}

header a picture {
	width: 250px;
	height: auto;
}

header .inner-column {
	display: flex;
	align-items: center;
	gap: 15px;
}

/* Footer styling*/

footer {
	border-top: 2px solid var(--splash);
	background-color: var(--splash-pale);
}

footer .inner-column {
	display: flex;
	align-items: center;	
	gap: 5px;
}

.app-icon {
	width: 50px;
	height: auto;
}


