@import "meyer-reset.css";
@import "setup.css";
@import "custom-properties.css";
@import "forms.css";
@import "gallery-card.css";
@import "trail-details.css";



main {
	background-color: var(--paper-light);
}

.inner-column {
	padding: 0.5em 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

/* Typography */

h1, h2, h3, p, nav, ul, ol, li, legend {
	font-family: var(--primary-font);
	color: var(--ink);
}

a:not(header a) {
	color: var(--splash);
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

/* Header styling*/

header {
	border-bottom: 2px solid var(--splash);
	background-color: var(--splash-pale);
}

header a {
	color: var(--splash);
}

header a picture {
	width: 250px;
	height: auto;
}

header .inner-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

header .inner-column nav {
	display: flex;
	flex-direction: column;
}

a.active-page {
	border-bottom: 5px solid var(--splash);
}

@media (min-width:500px) {

	header .inner-column {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	header .inner-column nav {
		flex-direction: row;
		gap: 1rem;
	}

}

/* Footer styling*/

footer {
	border-top: 2px solid var(--splash);
	background-color: var(--splash-pale);
}

footer .inner-column {
	display: flex;
	align-items: center;	
	gap: 5px;
}

.app-icon {
	width: 50px;
	height: auto;
}

@media (prefers-color-scheme: dark) {
	header, footer {
		background-color: var(--splash-dark);
	}

	main {
		background-color: var(--ink-dark);
	}
	
	h1, h2, h3, p, nav, ul, ol, li, legend {
	color: var(--paper);
	}

	a {
		color: var(--splash-pale);
	}
}


