.go-back, .trail-details-card {
	margin-top: 0.5rem;
}

.trail-details {
	margin-top: 0.5rem;
}

.trail-details ul:not(.activities) {
	list-style-type: disc;
	margin-left: 1rem;
}

.trail-details p, .activity-box {
	margin-top: 1rem;
}

.activities {
	display: flex;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.activities li {
	padding: 0.25rem 0.5rem;
	background-color: var(--splash);
	border-radius: 0.5rem;
	color: white;
}