

.phone-container {
	margin: 10vh 0vh;
	max-width: 390px;
	max-height: 500px;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid var(--paper);
	border-radius: 30px;
/*	filter: drop-shadow(5px 5px 20px black);*/
}

.phone-header {
	padding: 10px;
	background-color: HSLA(30,25%,90%, 0.95);
	border-bottom: 2px solid var(--paper);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	backdrop-filter: blur(5px);
 	-webkit-backdrop-filter: blur(5px);  /* auto-prefixer takes care of this */
}

.phone-header p {
	color: var(--ink);
}

.phone-header svg {
	width: 25px;
	height: 25px;
	color:var(--ink);
}

.phone-header .icon-:nth-of-type(2) {
	transform: translateX(-5px);
}

@media (prefers-color-scheme: dark) {
	.phone-container {
		border: 2px solid HSL(2,50%,20%);
	}

	.phone-header {
		background-color: HSLA(2,50%,20%, 0.95);
		border-bottom: 2px solid HSL(2,50%,20%);
	}
}

.contact-block {
	display: flex;
	flex-direction: column;
/*	justify-content: center;*/
	align-items: center;
	gap: 0px;
}

.contact-block p:nth-of-type(1) {
	padding-top: 5px;
	padding-bottom: 0px;
}

.contact-block p:nth-of-type(2) {
	padding-top: 0px;
	padding-bottom: 5px;
}

.channel-content {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}

.day-marker {
	color: #BEBBBB;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
}

p {
	padding: 10px 10px;
	border-radius: 20px;
	font-family: sans-serif;
	letter-spacing: 0.02rem;
}

.outgoing-block > *:not(.emoji) {
	border: 2px solid var(--splash-secondary); /*#2C91FF;*/
	background-color: var(--splash-secondary); /*#2C91FF;*/
}

.incoming-block > *:not(.emoji) {
	border: 2px solid var(--splash-secondary-dark);/* #3B3B3D;*/
	background-color: var(--splash-secondary-dark);/* #3B3B3D;*/
}

.incoming-block, .outgoing-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;
	color: white;
}

.incoming-block {

	align-items: flex-start;
	margin-right: 30%;
}

.outgoing-block {
	align-items: flex-end;
	margin-left: 30%;
}

.emoji {
	font-size: 36px;
}