section.imessage-diptych {
/*	background-color: white;*/
	background-image: radial-gradient(#FFA579 20%, #FF9CE0);
}

.layout-garden.phone {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.layout-garden :is(.text-content, picture) {
	grid-row-start: 1;
	align-self: center;
	justify-self: center;
}

.layout-garden .text-content {
	grid-column: 1/6;
	z-index: 10;
/*	transform: translateY(-50px);*/
}

.layout-garden picture {
	grid-column: 2/5;
	z-index: 5;
}

.phone h2 {
	font-size: clamp(40px, 9vw, 60px);
	margin-top: 0;
}

.phone p {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: clamp(24px, 2vw, 30px);
}

.phone {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.phone .text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 50px;
}

.phone .button {
	display: inline-block;
	margin-top: 1vh;
	background-color: black;
	border-radius: 25px;
	padding: 15px 40px;
	color: white;
	text-decoration: none;
	font-family: var(--secondary-font);
	font-size: 1.1rem;
	font-weight: 700;
}

.phone-container {
	margin-top: 20px;
	width: 320px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 35px;
}

@media (max-width: 360px) {
	.phone-container {
		width: 80vw;
	}
}