
site-map {
	display: block;
	padding: 10vh 0 15vh;
}

site-map .nav-container {

/*	border: 4px solid green;*/

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
}

site-map .logo {
	max-width: 100px;
	margin-top: 2rem;
	display: block;
}

site-map ul {
	margin-top: 0.5rem;
}

site-map nav {
/*	border: 2px solid salmon;*/
	margin-top: 1rem;
}

site-map a {
	text-decoration: underline;
	line-height: 1.5;
}