section.category-header {
	background-color: var(--paper-accent);
	padding: 12px 0;

	@media (min-width: 1000px) {
		background-color: unset;
		
		div.category-header {
			border-left: 10px solid var(--ink);
			padding: 12px;
		}

	}
}