section.hero .hero-container {
  display: grid;
  justify-items: center;
  gap: 3rem;
}
section.hero text-content {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
section.hero .links-container {
  display: flex;
  gap: 1.5rem;
}
