@import "meyer-reset.css";

* {box-sizing: border-box;}

img:not(.image-link img) {
	display: block;
	width: 100%;
	height: auto;
}

picture {
	display:block;
}


/*Banners*/

.banner {
	background-image: url("../images/fennelope-banner.jpg");
	background-size: contain;
	padding: 25px;
}

.secondary-banner, footer {
	background-color: #302220;
	padding: 5px;
}

nav {
	background-color: #302220;
	padding: 5px;
	margin: auto;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav a {
	color: white;
}

/*Main section*/

main {
	background-color: #FFF2E9;
	padding: 10px;
}

.page-section {
	max-width: 700px;
	border: 2px solid #5B423C;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 20px 10px;
}

h1, h2, h3 {
	font-family: "Footlight MT Light", "Georgia";
}

h1, h2, nav {
	padding: 10px;
}

p, ul, ol, table {
	margin-top: 10px;
}

.image-gallery {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	}

@media (min-width:500px) {
	.image-gallery {
		flex-direction: row;
		}

	.gallery-item:nth-of-type(1) {
		flex: 4;
	}

	.gallery-item:nth-of-type(2) {
		flex: 4;
	}

	.gallery-item:nth-of-type(3) {
		flex: 2;
	}
}


h1 {
	font-size: 60px;
	color: white;
	text-align: center;
}

h2 {
	font-size: 36px;
	color: white;
	text-align: center;
}

.section-title {
	font-size: 28px;
	color: #5B423C;
}

.footer-content {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.footer-content * {
	color: white;
}

p, ul, ol, li, table, tr, td {
	font-family: Arial;
	font-size: 18px;
	color: #5B423C;
}

table {
	font-family: Arial;
	color: #5B423C;
	border-color: #5B423C;
	width: 100%;
	table-layout: fixed;
}

tr {
	overflow: scroll;
}

strong {
	font-weight: 600;
}

img, table {
	margin-top: 15px;
	margin-bottom: 15px;
}

td {
	font-size: 80%;
	border-color: #5B423C;
	border-style:solid;
	border-width:2px;
	padding:5px;
	padding-right:50px;
	width: 33%;
}

.text-link {
	font-family: Arial;
	font-size: 18px;
	color: #7F7D32;
}

.text-link:hover {
	background-color: #7F7D32;
	border-radius: 2px;
	color: white;
}

.social-box {
	display: block;
}

.social-img {
	display: inline-block;
}

