section.call-to-action {

	& .call-to-action-container, text-content {
		display: grid;
		justify-items: center;
	}

	.button {

		svg {
			stroke: var(--white);
		}

	}

} //close section.call-to-action