/*Custom properties comment*/

body {

	--hue: 180;

	--paper: hsl(var(--hue), 75%, 98%);
	--paper-accent: hsl(var(--hue), 75%, 90%);
	--ink-grey: hsl(var(--hue), 25%, 40%); // splash primary greyed out but readable
	--ink: hsl(var(--hue), 95%, 25%); /* dark maroon */


	--primary-font: "Inter";
	--secondary-font: "Inter";

	--gap: 20px;
}

@media (prefers-color-scheme:dark) {
	body {
		--paper: hsl(var(--hue), 95%, 25%);
		--ink: hsl(var(--hue), 75%, 98%);
	}
}

/*Type patterns*/

.xxl-voice {
	font-family: var(--primary-font);
	font-size: 3rem;
	font-weight: 600;
}

.xl-voice {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 600;
}

.large-voice {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	font-weight: 100;
}

.med-plus-voice {
	font-family: var(--secondary-font);
	font-size: 1.25rem;
	font-weight: 400;
}

.medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
}

.small-voice {
	font-family: var(--secondary-font);
	font-size: 0.75rem;
	font-weight: 400;
}