/*Custom properties comment*/

body {

	--hue: 200;

	--paper: hsl(var(--hue), 60%, 98%);
	--paper-accent: hsl(var(--hue), 30%, 90%);
	--paper-grey: hsl(var(--hue), 15%, 90%);
	--ink-grey: hsl(var(--hue), 15%, 50%);
	--ink: hsl(var(--hue), 70%, 15%);


	--primary-font: "Inter";
	--secondary-font: "Inter";

	--gap: 20px;
	--box-radius: 20px;
	--button-radius: 15px;
}

@media (prefers-color-scheme:dark) {
	body {
		--paper: hsl(var(--hue), 70%, 15%);
		--paper-accent: hsl(var(--hue), 70%, 25%);
		--ink: hsl(var(--hue), 60%, 98%);
	}
}

/*Type patterns*/

.xxl-voice {
	font-family: var(--primary-font);
	font-size: 3rem;
	font-weight: 500;
}

.xl-voice {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 500;
}

.large-voice {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	font-weight: 500;
}

.med-plus-voice {
	font-family: var(--secondary-font);
	font-size: 1.25rem;
	font-weight: 300;
}

.medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 300;
}

.small-voice {
	font-family: var(--secondary-font);
	font-size: 0.75rem;
	font-weight: 300;
}