/*Presets*/

@import "_meyer-reset";

/*Setup*/
@import "_setup";

/*Settings*/
@import "_custom-properties";

/*Structure*/
@import "_structure";
@import "_list-styles";

/*Typography*/
@import "_typography";

/*Components*/
@import "_forms";
@import "_range-slider";
@import "../components/external-link/_style";

/*Modules*/
@import "_modules";

/*Sections (in this file)*/
body {
    background-color: var(--paper);
    // background: conic-gradient(var(--paper), var(--paper-accent), var(--paper), var(--paper-accent), var(--paper), var(--paper-accent));
}

/*icon styling*/

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}