inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.25rem 0;

	@media (min-width: 600px) {
		padding: 0 1.75rem 0;
	}

	&.skinny {
		max-width: 700px;
	}
}

left-side {
	display: block;
	// background-color: hsl(40, 80%, 50%);

	.left-content {
		padding-top: calc(2 * var(--gap));
	}
}

right-side {
	display: block;
	// background-color: hsl(40, 80%, 90%);
}

.left-content, .right-content {
	display: flex;
	flex-direction: column;
	gap: calc(1.5 * var(--gap));
}

.site-header, .site-footer {
	// background-color: hsl(20, 80%, 50%);
}

@media (min-width: 1000px) { //handle the split screen design

	body {
		display: grid;
		grid-template-columns: auto repeat(12, minmax(0, 75px)) auto;
		grid-template-rows: auto 1fr auto;
		gap: 0 var(--gap);
		min-height: 100dvh; // move this to small screen later
	}

	.page-wrapper {
		padding-top: 0;
	}

	inner-column {
		margin: 0;
		max-width: unset;
		padding: 0;
	}

	.site-header, .site-footer, .page-wrapper {
		display: grid;
		grid-template-columns: subgrid;
	}

	.site-header, .page-wrapper, .site-footer {
		grid-column: 1 / -1;
	}

	:is(.site-header, .site-footer, .page-wrapper) inner-column {
		grid-column: 2 / -2;
	}

	left-side {
		grid-column: 1 / 7;
		margin-right: calc(-1 * var(--gap)); //gets rid of the gap between left and right side

		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: auto;
	}

	right-side {
		// border: 2px solid black;
		grid-column: 7 / -1;

		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: auto;
	}

	.left-content {
		grid-column: 2 / -1;
		padding-right: calc(0.5 * var(--gap));
		// border: 1px dashed black;
	}

	.right-content {
		grid-column: 1 / -2; //needs to stop one column shorter than right-side, bc right-side includes the padding column 
		padding-left: calc(0.5 * var(--gap));
		padding-top: calc(2 * var(--gap));
		// border: 1px dashed black;
	}
}

















