p, li {
	max-width: 70ch;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

p, ul, ol, li, legend, label, .medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 300;
	color: var(--ink);
	line-height: 1.4;
}

h1, h2, h3, h4 {
	color: var(--ink);
}

figcaption {
	color: var(--ink);
	font-style: italic;
}

a, p a {
	color: var(--ink);
	text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
	a:not(.site-nav a, .site-footer a), p a {
		color: var(--ink);
		text-decoration: underline;
	}	
}

/*margin & padding*/
text-content {

	h1 + :is(p, ul) {
		margin-top: 1rem;
	}

	:is(h2, h3) + :is(p, ul) {
		margin-top: 0.75rem;
	}

	p + p {
		margin-top: 1rem;
	}

}

article {
	h1, h2, h3 {
		margin-top: 1.25rem;
	}

	h1 + h2, h1 + p, h2 + h3 {
		margin-top: 2rem;
	}

	h2 + p {
		margin-top: 1.5rem;
	}

	h3 + p {
		margin-top: 1rem;
	}

	p + p {
		margin-top: 1rem;
	}

	img + p {
		margin-top: 0.75rem;
	}

	figcaption {
		margin-top: 0.5rem; 
	}
}