/*Presets*/
/* Test comment
	Meyer Reset CSS
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Setup*/
/* Boilerplate formatting/styling - should not be custom to any project */
/* Test comment */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li,
span, a, table, tr, td, blockquote {
  line-height: 1.25em;
  letter-spacing: normal;
}

table {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}

/* Resizing images */
/* Explainer: https://codepen.io/perpetual-education/pen/dyNemyW?editors=1100 */
picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* GLOBAL LINKS RESET/SETUP*/
/*Explainer: https://codepen.io/perpetual-education/pen/VwPxxKg?editors=1100 */
a {
  display: block;
  text-decoration: none;
  /* remove default link styles */
  /* set links to be blocks so you can wrap thing */
  /* inline elements can't have block elements inside! */
}

p a { /* "all links in paragraphs..." */
  display: inline-block;
  text-decoration: underline;
}

/* yes! you might also want to do this for other headings and list items etc --- this is just a basic use-case */
/*Settings*/
/*Custom properties comment*/
body {
  --hue: 190;
  --paper: hsl(var(--hue), 75%, 98%);
  --paper-accent: hsl(var(--hue), 40%, 90%);
  --ink-grey: hsl(var(--hue), 25%, 40%);
  --ink: hsl(var(--hue), 95%, 25%); /* dark maroon */
  --primary-font: "Inter";
  --secondary-font: "Inter";
  --gap: 20px;
  --box-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    --paper: hsl(var(--hue), 95%, 25%);
    --ink: hsl(var(--hue), 75%, 98%);
  }
}
/*Type patterns*/
.xxl-voice {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
}

.xl-voice {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 600;
}

.large-voice {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 100;
}

.med-plus-voice {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 400;
}

.medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
}

.small-voice {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-weight: 400;
}

/*Structure*/
inner-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem 0;
}
@media (min-width: 600px) {
  inner-column {
    padding: 0 1.5rem 0;
  }
}
inner-column.skinny {
  max-width: 700px;
}

left-side {
  display: block;
}
left-side .left-content {
  padding-top: calc(2 * var(--gap));
}

right-side {
  display: block;
}

.left-content, .right-content {
  display: flex;
  flex-direction: column;
  gap: calc(1.5 * var(--gap));
}

main {
  margin-top: calc(1.5 * var(--gap));
}

@media (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: auto repeat(12, minmax(0, 75px)) auto;
    grid-template-rows: auto 1fr auto;
    gap: 0 var(--gap);
    min-height: 100dvh;
  }
  main {
    margin-top: 0;
  }
  .page-wrapper {
    padding-top: 0;
  }
  inner-column {
    margin: 0;
    max-width: unset;
    padding: 0;
  }
  .site-header, .site-footer, .page-wrapper {
    display: grid;
    grid-template-columns: subgrid;
  }
  .site-header, .page-wrapper, .site-footer {
    grid-column: 1/-1;
  }
  :is(.site-header, .site-footer, .page-wrapper) inner-column {
    grid-column: 2/-2;
  }
  left-side {
    grid-column: 1/7;
    margin-right: calc(-1 * var(--gap));
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
  right-side {
    grid-column: 7/-1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
  .left-content {
    grid-column: 2/-1;
    padding-right: calc(0.5 * var(--gap));
  }
  .right-content {
    grid-column: 1/-2;
    padding-left: calc(0.5 * var(--gap));
    padding-top: calc(2 * var(--gap));
  }
}
[role=list].numbered-list {
  list-style: decimal;
  padding-left: 1rem;
}

[role=list].bulleted-list {
  list-style: disc;
  padding-left: 1rem;
}

[role=list] li:first-of-type {
  margin-top: 0.5rem;
}

[role=list] li + li {
  margin-top: 1rem;
}

.list-item-title {
  font-family: var(--secondary-font);
  font-weight: 400;
}

/*Typography*/
p, li {
  max-width: 70ch;
}

em {
  font-style: italic;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

p, ul, ol, li, legend, .medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  color: var(--ink);
  line-height: 1.4;
}

h1, h2, h3, h4 {
  color: var(--ink);
}

figcaption {
  color: var(--ink);
  font-style: italic;
}

a, p a {
  color: var(--ink);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a:not(.site-nav a, .site-footer a), p a {
    color: var(--ink);
    text-decoration: underline;
  }
}
/*margin & padding*/
text-content h1 + :is(p, ul) {
  margin-top: 1rem;
}
text-content :is(h2, h3) + :is(p, ul) {
  margin-top: 0.75rem;
}
text-content p + p {
  margin-top: 1rem;
}

article h1, article h2, article h3 {
  margin-top: 1.25rem;
}
article h1 + h2, article h1 + p, article h2 + h3 {
  margin-top: 2rem;
}
article h2 + p {
  margin-top: 1.5rem;
}
article h3 + p {
  margin-top: 1rem;
}
article p + p {
  margin-top: 1rem;
}
article img + p {
  margin-top: 0.75rem;
}
article figcaption {
  margin-top: 0.5rem;
}

/*Components*/
/* Test rules */
/*label, label > * {border: 1px solid red}*/
/*Form structure */
form {
  padding: 10px;
  border: 2px solid var(--ink);
  border-radius: 0.5rem;
  width: 100%;
  /*	min-height: 300px;*/
  display: grid;
  gap: 1.5rem;
  justify-items: start;
  font-family: var(--secondary-font);
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 400px) {
  form {
    padding: 5px;
  }
}
@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }
}

output {
  display: block;
}

form :is(h1, h2, h3, p, span) {
  margin-top: 0px;
}

/* Input fields */
label {
  display: block;
}

textarea {
  display: block;
  border: none;
  resize: vertical;
}

label.field {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
  width: 100%;
}

form :is(p, span, label) {
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: var(--ink);
}

form :is(.prepend, .append) {
  background-color: lightgrey;
  color: black;
  height: 100%;
}

/*Input styling*/
input-container {
  overflow: hidden;
}

input-container > * {
  padding: 0.5rem 1rem;
  background-color: transparent;
}
@media (max-width: 400px) {
  input-container > * {
    padding: 0.25rem 0.5rem;
  }
}

/*Text inputs */
.text input, select, .text textarea {
  font-family: var(--secondary-font);
  color: var(--ink);
  font-size: 1rem;
  width: 100%;
}

select {
  padding: 0.5rem 1rem;
  background-color: transparent;
}

input-container, select {
  border-radius: 0.5rem;
  border: 1px solid var(--ink);
  display: block;
  display: flex;
  align-items: center;
}

input-container:focus-within,
select:focus-within {
  background-color: var(--paper);
  outline: 1px solid var(--ink);
}

input:focus, textarea:focus {
  outline: 0;
}

input[type=checkbox]:focus, input[type=radio]:focus {
  outline: 1px solid var(--ink);
}

:is(.radio, .checkbox, .checkbox-pills, .slider) input-container {
  border: none;
}

:is(.checkbox, .radio) input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

radio-container, checkbox-container {
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox-pills input-container {
  display: flex;
  gap: clamp(1rem, 1rem, 50px);
}

.checkbox-pills label { /* aka the actual button */
  border: 2px solid var(--ink);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--secondary-font);
}

.checkbox-pills label:focus-within {
  background-color: var(--ink);
  color: var(--paper);
}

.slider input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider input {
  width: 100%;
}

.submit-container {
  margin-top: 2rem;
  border-top: 2px solid var(--paper);
}

.button-container {
  display: grid;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.actions checkbox-container {
  padding-left: 0;
}

button {
  background-color: var(--paper);
  color: var(--ink);
  border: 1px solid var(--ink);
  min-width: 150px;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 600;
  /*	margin-top: 20px;*/
  /*	margin-bottom: 5px;*/
  justify-self: start;
  text-wrap: nowrap;
}

button:active {
  background-color: var(--ink);
  color: var(--paper);
}

/*utility classes*/
.span-one {
  grid-column: span 1;
}

.span-two {
  grid-column: span 2;
}
@media (max-width: 600px) {
  .span-two {
    grid-column: span 1;
  }
}

.warning {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  padding-left: 0.5rem;
  border-left: 2px solid firebrick;
  color: firebrick;
  font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
  .warning {
    color: hotpink;
    border-left: 2px solid hotpink;
  }
}
.slider input-container {
  padding: 0.5rem 0;
}
.slider input-container:focus-within {
  background-color: transparent;
  outline: 1px solid red;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-runnable-track {
  background: var(--paper);
  height: 0.5rem;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  background: var(--paper);
  height: 0.5rem;
  border-radius: 5px;
}

/***** Thumb Styles *****/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: red;
  height: 1.5rem;
  width: 0.5rem;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: red;
  height: 1.5rem;
  width: 0.5rem;
  border-radius: 5px;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]:focus::-webkit-slider-thumb {
  outline: 1.5px solid red;
}

/******** Firefox ********/
input[type=range]:focus::-moz-range-thumb {
  outline: 1.5px solid red;
}

.external-link-component {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.external-link-component [class^=icon-], .external-link-component [class*=" icon-"] {
  height: 1rem;
  width: 1rem;
}

/*Modules*/
.site-nav-items {
  padding: 12px 0px;
  display: flex;
  gap: 1.25rem;
}
.site-nav-items a {
  text-decoration: none;
}
.site-nav-items .active {
  font-weight: 700;
}

.footer-list {
  display: flex;
  align-items: center;
  transform: translateX(-20px);
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials a {
  padding: 12px;
}

biography-card {
  display: block;
  display: grid;
  gap: 20px;
  max-width: 600px;
  background-color: var(--paper-accent);
  border-radius: var(--box-radius);
  padding: 20px;
}
biography-card picture {
  width: 100%;
  max-width: 300px;
}
biography-card picture, biography-card img {
  border-radius: 15px;
}
biography-card .bio-attributes {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-self: start;
  max-width: 30ch;
}
@media (min-width: 420px) {
  biography-card {
    grid-template-areas: "portrait traits" "biography biography";
  }
  biography-card picture {
    grid-area: portrait;
  }
  biography-card .bio-attributes {
    grid-area: traits;
    align-self: center;
  }
  biography-card text-content {
    grid-area: biography;
  }
}

biography-controls {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 10px;
  container-type: inline-size;
}
biography-controls text-content p {
  margin-top: 0.5rem;
}
biography-controls .button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: none;
  border-radius: 0;
  padding-left: 0;
}
biography-controls .option {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 250px;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}
biography-controls .option:has(:checked) {
  background-color: var(--ink);
  transition: all 500ms;
}
biography-controls .option:has(:checked) label {
  color: var(--paper);
  min-width: 200px;
}
biography-controls .option:has(:checked) input {
  accent-color: var(--ink);
}
biography-controls input::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.resume {
  padding-bottom: 50px;
}
.resume .section-title + * {
  margin-top: var(--gap);
}
.resume li + li h3 {
  margin-top: var(--gap);
}
.resume right-side section + section {
  margin-top: calc(1.5 * var(--gap));
}

@media (min-width: 1000px) {
  .resume-intro p {
    max-width: 35ch;
  }
}

.job-bullet {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 0.5rem;
}

.resume-education .degree-title {
  border-left: 5px solid var(--ink);
  padding-left: 8px;
}
.resume-education .degree-subtitle {
  font-size: 0.75rem;
}
.resume-education .item + .item {
  margin-top: var(--gap);
}

.skill-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.skill {
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  background-color: var(--ink);
  color: var(--paper);
}

@media (prefers-color-scheme: dark) {
  .skill {
    background-color: var(--paper);
    color: var(--ink);
  }
}
.section-intro {
  margin-top: calc(1.5 * var(--gap));
}

.project-text {
  margin-top: var(--gap);
}

.project-figure {
  margin-top: var(--gap);
}

.link-out {
  margin-top: var(--gap);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.link-out [class^=icon-], .link-out [class*=" icon-"] {
  height: 1.1rem;
  width: 1.1rem;
}
.link-out a {
  background-color: var(--ink);
  color: var(--paper);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.now-card {
  padding: 12px;
  max-width: 600px;
  border-radius: var(--box-radius);
}
.now-card h2 {
  border-bottom: 1px solid var(--ink);
}
.now-card:nth-of-type(odd) {
  background-color: var(--paper-accent);
}
.now-card:nth-of-type(even) {
  background-color: var(--ink);
}
.now-card:nth-of-type(even) h2, .now-card:nth-of-type(even) li {
  color: var(--paper);
}
.now-card:nth-of-type(even) h2 {
  border-color: var(--paper);
}
@media (min-width: 1000px) {
  .now-card {
    display: flex;
    gap: var(--gap);
  }
  .now-card .heading-container {
    display: flex;
    flex-direction: column;
  }
  .now-card .heading-container .colored-box {
    width: 100%;
    height: 50%;
    border-radius: var(--box-radius);
  }
  .now-card h2 {
    border-bottom: none;
    padding: 8px;
  }
  .now-card ul {
    padding: 12px;
    border-radius: var(--box-radius);
  }
  .now-card li {
    margin-left: 12px;
  }
  .now-card:nth-of-type(odd) {
    background-color: unset;
  }
  .now-card:nth-of-type(odd) h2 {
    color: var(--ink);
  }
  .now-card:nth-of-type(odd) .colored-box {
    background-color: var(--paper-accent);
  }
  .now-card:nth-of-type(odd) ul {
    background-color: var(--paper-accent);
  }
  .now-card:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: unset;
  }
  .now-card:nth-of-type(even) .heading-container {
    flex-direction: column-reverse;
  }
  .now-card:nth-of-type(even) h2 {
    color: var(--ink);
  }
  .now-card:nth-of-type(even) .colored-box {
    background-color: var(--ink);
  }
  .now-card:nth-of-type(even) ul {
    background-color: var(--ink);
  }
}

.now-grid .now-card + .now-card {
  margin-top: var(--gap);
}

/*Sections (in this file)*/
body {
  background-color: var(--paper);
}

/*icon styling*/
[class^=icon-], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}
