/*Presets*/
/* Test comment
	Meyer Reset CSS
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Setup*/
/* Boilerplate formatting/styling - should not be custom to any project */
/* Test comment */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li,
span, a, table, tr, td, blockquote {
  line-height: 1.25em;
  letter-spacing: normal;
}

table {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}

/* Resizing images */
/* Explainer: https://codepen.io/perpetual-education/pen/dyNemyW?editors=1100 */
picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* GLOBAL LINKS RESET/SETUP*/
/*Explainer: https://codepen.io/perpetual-education/pen/VwPxxKg?editors=1100 */
a {
  display: block;
  text-decoration: none;
  /* remove default link styles */
  /* set links to be blocks so you can wrap thing */
  /* inline elements can't have block elements inside! */
}

p a { /* "all links in paragraphs..." */
  display: inline-block;
  text-decoration: underline;
}

/* yes! you might also want to do this for other headings and list items etc --- this is just a basic use-case */
/*Settings*/
/*Custom properties comment*/
body {
  --hue: 200;
  --paper: hsl(var(--hue), 60%, 98%);
  --paper-accent: hsl(var(--hue), 30%, 90%);
  --paper-grey: hsl(var(--hue), 15%, 90%);
  --ink-grey: hsl(var(--hue), 15%, 50%);
  --ink: hsl(var(--hue), 70%, 15%);
  --primary-font: "Inter";
  --secondary-font: "Inter";
  --gap: 20px;
  --box-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    --paper: hsl(var(--hue), 70%, 15%);
    --paper-accent: hsl(var(--hue), 70%, 25%);
    --ink: hsl(var(--hue), 60%, 98%);
  }
}
/*Type patterns*/
.xxl-voice {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 500;
}

.xl-voice {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 500;
}

.large-voice {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 500;
}

.med-plus-voice {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 300;
}

.medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 300;
}

.small-voice {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-weight: 300;
}

/*Structure*/
inner-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem 0;
}
@media (min-width: 600px) {
  inner-column {
    padding: 0 1.5rem 0;
  }
}
inner-column.skinny {
  max-width: 700px;
}

.page-wrapper {
  padding-bottom: 50px;
}

left-side {
  display: block;
}
left-side .left-content {
  padding-top: calc(2 * var(--gap));
}

right-side {
  display: block;
}

.left-content, .right-content {
  display: flex;
  flex-direction: column;
  gap: calc(1.5 * var(--gap));
}

main {
  margin-top: calc(1.5 * var(--gap));
}

body:has(.layoutGarden) inner-column {
  max-width: 1200px;
}
body:has(.layoutGarden) section {
  padding-top: calc(2 * var(--gap));
  padding-bottom: calc(2 * var(--gap));
}
body:has(.layoutGarden) section:nth-of-type(odd) {
  background-color: var(--paper-accent);
}
body:has(.layoutGarden) section:nth-of-type(even) {
  background-color: var(--paper);
}

body:has(.styleGuide) right-side main section:not(:first-child) {
  margin-top: var(--gap);
}

@media (min-width: 1000px) {
  body:not(:has(.layoutGarden)) {
    display: grid;
    grid-template-columns: auto repeat(12, minmax(0, 75px)) auto;
    grid-template-rows: auto 1fr auto;
    gap: 0 var(--gap);
    min-height: 100dvh;
  }
  body:not(:has(.layoutGarden)) main {
    margin-top: 0;
  }
  body:not(:has(.layoutGarden)) .page-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  body:not(:has(.layoutGarden)) inner-column {
    margin: 0;
    max-width: unset;
    padding: 0;
  }
  body:not(:has(.layoutGarden)) .site-header, body:not(:has(.layoutGarden)) .site-footer, body:not(:has(.layoutGarden)) .page-wrapper {
    display: grid;
    grid-template-columns: subgrid;
  }
  body:not(:has(.layoutGarden)) .site-header, body:not(:has(.layoutGarden)) .page-wrapper, body:not(:has(.layoutGarden)) .site-footer {
    grid-column: 1/-1;
  }
  body:not(:has(.layoutGarden)) :is(.site-header, .site-footer, .page-wrapper) inner-column {
    grid-column: 2/-2;
  }
  body:not(:has(.layoutGarden)) left-side {
    grid-column: 1/7;
    margin-right: calc(-1 * var(--gap));
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
  body:not(:has(.layoutGarden)) right-side {
    grid-column: 7/-1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
  body:not(:has(.layoutGarden)) .left-content {
    grid-column: 2/-1;
    padding-right: calc(0.5 * var(--gap));
  }
  body:not(:has(.layoutGarden)) .right-content {
    grid-column: 1/-2;
    padding-left: calc(0.5 * var(--gap));
    padding-top: calc(2 * var(--gap));
  }
}

[role=list].numbered-list {
  list-style: decimal;
  padding-left: 1rem;
}

[role=list].bulleted-list {
  list-style: circle;
  padding-left: 1rem;
}

[role=list] li:first-of-type {
  margin-top: 0.5rem;
}

[role=list] li + li {
  margin-top: 1rem;
}

.list-item-title {
  font-family: var(--secondary-font);
  font-weight: 400;
}

/*Typography*/
p, li {
  max-width: 70ch;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

p, ul, ol, li, legend, label, .medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 300;
  color: var(--ink);
  line-height: 1.4;
}

h1, h2, h3, h4 {
  color: var(--ink);
}

figcaption {
  color: var(--ink);
  font-style: italic;
}

a, p a {
  color: var(--ink);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a:not(.site-nav a, .site-footer a), p a {
    color: var(--ink);
    text-decoration: underline;
  }
}
/*margin & padding*/
text-content h1 + :is(p, ul) {
  margin-top: 1rem;
}
text-content :is(h2, h3) + :is(p, ul) {
  margin-top: 0.75rem;
}
text-content p + p {
  margin-top: 1rem;
}

article h1, article h2, article h3 {
  margin-top: 1.25rem;
}
article h1 + h2, article h1 + p, article h2 + h3 {
  margin-top: 2rem;
}
article h2 + p {
  margin-top: 1.5rem;
}
article h3 + p {
  margin-top: 1rem;
}
article p + p {
  margin-top: 1rem;
}
article img + p {
  margin-top: 0.75rem;
}
article figcaption {
  margin-top: 0.5rem;
}

/*Components*/
/* Test rules */
/*label, label > * {border: 1px solid red}*/
/*Form structure */
form {
  padding: 10px;
  border: 2px solid var(--ink);
  border-radius: 0.5rem;
  width: 100%;
  /*	min-height: 300px;*/
  display: grid;
  gap: 1.5rem;
  justify-items: start;
  font-family: var(--secondary-font);
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 400px) {
  form {
    padding: 5px;
  }
}
@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }
}

output {
  display: block;
}

form :is(h1, h2, h3, p, span) {
  margin-top: 0px;
}

/* Input fields */
label {
  display: block;
}

textarea {
  display: block;
  border: none;
  resize: vertical;
}

label.field {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
  width: 100%;
}

form :is(p, span, label) {
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: var(--ink);
}

form :is(.prepend, .append) {
  background-color: lightgrey;
  color: black;
  height: 100%;
}

/*Input styling*/
input-container {
  overflow: hidden;
}

input-container > * {
  padding: 0.5rem 1rem;
  background-color: transparent;
}
@media (max-width: 400px) {
  input-container > * {
    padding: 0.25rem 0.5rem;
  }
}

/*Text inputs */
.text input, select, .text textarea {
  font-family: var(--secondary-font);
  color: var(--ink);
  font-size: 1rem;
  width: 100%;
}

select {
  padding: 0.5rem 1rem;
  background-color: transparent;
}

input-container, select {
  border-radius: 0.5rem;
  border: 1px solid var(--ink);
  display: block;
  display: flex;
  align-items: center;
}

input-container:focus-within,
select:focus-within {
  background-color: var(--paper);
  outline: 1px solid var(--ink);
}

input:focus, textarea:focus {
  outline: 0;
}

input[type=checkbox]:focus, input[type=radio]:focus {
  outline: 1px solid var(--ink);
}

:is(.radio, .checkbox, .checkbox-pills, .slider) input-container {
  border: none;
}

:is(.checkbox, .radio) input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

radio-container, checkbox-container {
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox-pills input-container {
  display: flex;
  gap: clamp(1rem, 1rem, 50px);
}

.checkbox-pills label { /* aka the actual button */
  border: 2px solid var(--ink);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--secondary-font);
}

.checkbox-pills label:focus-within {
  background-color: var(--ink);
  color: var(--paper);
}

.slider input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider input {
  width: 100%;
}

.submit-container {
  margin-top: 2rem;
  border-top: 2px solid var(--paper);
}

.button-container {
  display: grid;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.actions checkbox-container {
  padding-left: 0;
}

button {
  background-color: var(--paper);
  color: var(--ink);
  border: 1px solid var(--ink);
  min-width: 150px;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 500;
  /*	margin-top: 20px;*/
  /*	margin-bottom: 5px;*/
  justify-self: start;
  text-wrap: nowrap;
}

button:active {
  background-color: var(--ink);
  color: var(--paper);
}

/*utility classes*/
.span-one {
  grid-column: span 1;
}

.span-two {
  grid-column: span 2;
}
@media (max-width: 600px) {
  .span-two {
    grid-column: span 1;
  }
}

.warning {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  padding-left: 0.5rem;
  border-left: 2px solid firebrick;
  color: firebrick;
  font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
  .warning {
    color: hotpink;
    border-left: 2px solid hotpink;
  }
}
.slider input-container {
  padding: 0.5rem 0;
}
.slider input-container:focus-within {
  background-color: transparent;
  outline: 1px solid red;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-runnable-track {
  background: var(--paper);
  height: 0.5rem;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  background: var(--paper);
  height: 0.5rem;
  border-radius: 5px;
}

/***** Thumb Styles *****/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: red;
  height: 1.5rem;
  width: 0.5rem;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: red;
  height: 1.5rem;
  width: 0.5rem;
  border-radius: 5px;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]:focus::-webkit-slider-thumb {
  outline: 1.5px solid red;
}

/******** Firefox ********/
input[type=range]:focus::-moz-range-thumb {
  outline: 1.5px solid red;
}

.external-link-component {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.external-link-component [class^=icon-], .external-link-component [class*=" icon-"] {
  height: 1rem;
  width: 1rem;
}

/*Modules*/
.site-nav-items {
  padding: 12px 0px;
  display: flex;
  gap: 1.25rem;
}
.site-nav-items a {
  text-decoration: none;
}
.site-nav-items .active {
  font-weight: 600;
}

.footer-list {
  display: flex;
  align-items: center;
  transform: translateX(-20px);
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials a {
  padding: 12px;
}

biography-card {
  display: block;
  display: grid;
  gap: 20px;
  max-width: 600px;
  background-color: var(--paper-accent);
  border-radius: var(--box-radius);
  padding: 24px;
}
biography-card picture {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  overflow: hidden;
}
biography-card .bio-attributes {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-self: start;
  max-width: 30ch;
}
@media (min-width: 420px) {
  biography-card {
    grid-template-areas: "portrait traits" "biography biography";
  }
  biography-card picture {
    grid-area: portrait;
  }
  biography-card .bio-attributes {
    grid-area: traits;
    align-self: center;
  }
  biography-card text-content {
    grid-area: biography;
  }
}

biography-controls {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 10px;
  container-type: inline-size;
}
biography-controls text-content p {
  margin-top: 0.5rem;
}
biography-controls .button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: none;
  border-radius: 0;
  padding-left: 0;
}
biography-controls .option {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 250px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--paper-grey);
  border-radius: 25px;
}
biography-controls .option:has(:checked) {
  background-color: var(--ink);
  transition: all 500ms;
}
biography-controls .option:has(:checked) label {
  color: var(--paper);
  min-width: 200px;
  font-weight: 500;
}
biography-controls .option:has(:checked) input {
  accent-color: var(--ink);
}
biography-controls input::after {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.resume .section-title + * {
  margin-top: var(--gap);
}
.resume li + li h3 {
  margin-top: var(--gap);
}
.resume right-side section + section {
  margin-top: calc(1.5 * var(--gap));
}

@media (min-width: 1000px) {
  .resume-intro p {
    max-width: 35ch;
  }
}

.job-bullet {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 0.5rem;
}

.resume-education .degree-title {
  border-left: 5px solid var(--ink);
  padding-left: 8px;
}
.resume-education .degree-subtitle {
  font-size: 0.75rem;
}
.resume-education .item + .item {
  margin-top: var(--gap);
}

.skill-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.skill {
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  background-color: var(--ink);
  color: var(--paper);
}

@media (prefers-color-scheme: dark) {
  .skill {
    background-color: var(--paper);
    color: var(--ink);
  }
}
.projects-group + .projects-group {
  margin-top: calc(2 * var(--gap));
}

.projects-grid {
  margin-top: var(--gap);
}
.projects-grid ul {
  display: flex;
  flex-direction: column;
  gap: calc(0.25 * var(--gap));
}

.project-card .top-banner {
  padding: 8px 12px;
  background-color: var(--ink);
  border: 1px solid var(--ink);
  border-top-left-radius: var(--box-radius);
  border-top-right-radius: var(--box-radius);
}
.project-card .bottom-section {
  padding: 4px 12px 12px;
  background-color: var(--paper-accent);
  border-bottom-left-radius: var(--box-radius);
  border-bottom-right-radius: var(--box-radius);
}
.project-card h3 {
  font-weight: 600;
  color: var(--paper);
}
.project-card a {
  margin-top: calc(1.5 * var(--gap));
}

.section-intro {
  margin-top: calc(1.5 * var(--gap));
}

.project-text {
  margin-top: var(--gap);
}

.project-figure {
  margin-top: var(--gap);
}

.link-out {
  margin-top: var(--gap);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.link-out [class^=icon-], .link-out [class*=" icon-"] {
  height: 1.1rem;
  width: 1.1rem;
}
.link-out a {
  background-color: var(--ink);
  color: var(--paper);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.now-card {
  padding: 12px;
  max-width: 600px;
  border-radius: var(--box-radius);
  background-color: var(--paper-accent);
  border: 1px solid var(--ink);
}
.now-card h2 {
  font-weight: 300;
}
.now-card li {
  font-weight: 300;
}
.now-card:hover {
  background-color: var(--ink);
}
.now-card:hover h2, .now-card:hover li {
  color: var(--paper);
}

.now-grid .now-card + .now-card {
  margin-top: var(--gap);
}

/*Page heading*/
/*Article card*/
.layout-article-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--paper);
}

.layout-article-card :is(picture, img) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.layout-article-card text-content {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
}

.layout-article-card text-content :is(h1, p, a) {
  margin-top: 0px;
}

.layout-article-card text-content a {
  margin-top: 1.25rem;
}

/*Diptychs*/
graphic-diptych {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: clamp(10px, 5vw, 200px) 0;
}

.box1, .box2, .box3 {
  display: none;
}

graphic-diptych p {
  margin-top: 1rem;
}

graphic-diptych :is(picture, img) {
  border-radius: 10px;
}

graphic-diptych text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

graphic-diptych text-content h1 {
  margin-top: 0px;
}

graphic-diptych.layout-garden .button {
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  background-color: var(--ink);
  margin-top: 2rem;
  width: 150px;
  color: white;
}

@media (min-width: 700px) {
  graphic-diptych {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  graphic-diptych picture {
    background-image: none;
    background-color: var(--paper-accent);
  }
  graphic-diptych :is(picture, text-content) {
    flex-basis: 50%;
  }
  graphic-diptych .button {
    margin-top: 3rem;
  }
}
/*Second version */
.secondary {
  background-size: cover;
  background-repeat: no-repeat;
}

.secondary :is(.box1, .box2, .box3) {
  display: block;
}

.secondary graphic-diptych {
  display: grid;
  grid-template-columns: 10vw repeat(4, 1fr) 10vw;
  grid-gap: 0px;
  align-items: center;
}

.secondary picture {
  grid-column: 2/6;
  grid-row: 1;
  width: 75vw;
}

.secondary text-content {
  grid-column: 2/6;
  grid-row: 2;
}

.secondary .box1 {
  border-radius: 10px;
  height: 75%;
  width: 60%;
  background-color: #CCD5FF;
  grid-column: 1/3;
  grid-row: 1;
}

.secondary .box2 {
  border-radius: 10px;
  background-color: #FFEECC;
  grid-column: 3/6;
  grid-row: 1/3;
  height: 60%;
  width: 60%;
}

.secondary .box3 {
  border-radius: 10px;
  height: 60%;
  background-color: #D9F2EA;
  grid-column: 5/7;
  grid-row: 1;
  vertical-align: bottom;
}

@media (min-width: 700px) {
  .secondary graphic-diptych {
    grid-gap: 50px;
  }
  .secondary picture {
    grid-column: 2/4;
    grid-row: 1;
  }
  .secondary text-content {
    grid-column: 4/6;
    grid-row: 1;
  }
  .secondary .box1 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  /*	.secondary .box2 {
  		grid-column: 3/5 ;
  		grid-row: 1;
  		z-index: -5;
  	}
  */
  .secondary .box3 {
    grid-column: 5/7;
    grid-row: 1;
  }
}
section.imessage-diptych {
  background-image: radial-gradient(#FFA579 20%, #FF9CE0);
}

.layout-garden.phone {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.layout-garden :is(.text-content, picture) {
  grid-row-start: 1;
  align-self: center;
  justify-self: center;
}

.layout-garden .text-content {
  grid-column: 1/6;
  z-index: 10;
}

.layout-garden.phone picture {
  grid-column: 2/5;
  z-index: 5;
  margin-top: 0px;
}

.phone h2 {
  font-size: clamp(40px, 9vw, 60px);
  margin-top: 0;
  color: black;
}

.phone p {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: clamp(24px, 2vw, 30px);
  color: black;
}

.phone .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.phone .button {
  display: inline-block;
  margin-top: 1vh;
  background-color: black;
  border-radius: 25px;
  padding: 15px 40px;
  color: white;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  font-weight: 700;
}

.phone .phone-container {
  margin-top: 20px;
  width: 320px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
}

.phone .phone-container img {
  border-radius: 35px;
}

@media (max-width: 360px) {
  .phone .phone-container {
    width: 80vw;
  }
}
/*News page*/
.news-page main {
  display: grid;
  grid-template-areas: "top" "middle" "bottom";
  gap: 50px;
  min-height: 100vh;
}

.news-page .featured {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--ink);
  border-radius: 10px;
  background-color: var(--ink);
  grid-area: top;
}
.news-page .featured :is(picture, img) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.news-page .featured text-content {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
}
.news-page .featured text-content :is(h1, p) {
  margin-top: 0px;
  color: var(--paper);
}

.news-page aside {
  grid-area: bottom;
}
.news-page aside ul {
  background-color: var(--paper-accent);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.news-page aside li a {
  margin-top: 20px;
}
.news-page aside h1 {
  margin-top: 0px;
}
.news-page aside .sidebar-item {
  padding: 0.75rem;
  border-top: 1px solid var(--ink);
}
.news-page aside .sidebar-item:last-of-type {
  border-bottom: 1px solid var(--ink);
}

.news-page article-grid ul {
  display: block;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-area: middle;
}
.news-page article-grid ul text-content {
  padding: 0.5rem 1rem;
}

@media (min-width: 600px) {
  .news-page main {
    grid-template-areas: "top top" "bottom-left bottom-right";
    gap: 25px;
  }
  .news-page .featured {
    grid-area: top;
  }
  .news-page aside {
    grid-area: bottom-left;
  }
  .news-page article-grid ul {
    grid-area: bottom-right;
  }
  .news-page article-grid ul li h1 {
    font-size: 1.5rem;
  }
  .news-page article-grid ul li a {
    display: none;
  }
}
@media (min-width: 1000px) {
  .news-page main {
    grid-template-columns: 300px 1fr;
    grid-template-areas: "left top-right" "left bottom-right";
    align-items: start;
  }
  .news-page aside {
    grid-area: left;
  }
  .news-page .featured {
    grid-area: top-right;
  }
  .news-page article-grid ul {
    grid-area: bottom-right;
    padding-top: 1rem;
    display: grid;
    grid-template-areas: "1 2" "3 4";
    gap: 20px;
  }
  .news-page article-grid ul li p {
    display: none;
  }
}
/*gallery-1 */
.gallery-1-wrapper .article-grid {
  display: grid;
  gap: 1rem;
  place-items: left;
  margin-top: 5vh;
}
.gallery-1-wrapper .card-container {
  border-top: 1px solid var(--ink);
  padding-top: 1rem;
}
.gallery-1-wrapper .layout-article-card {
  background-color: var(--paper-accent);
  padding: 8px;
}
.gallery-1-wrapper .article-grid .xl-voice {
  font-size: 1.5rem;
}
.gallery-1-wrapper text-content {
  padding: 0px;
}
.gallery-1-wrapper .article-grid :is(picture, a) {
  display: none;
}
.gallery-1-wrapper .photo-gallery {
  display: grid;
  gap: 15px;
  place-items: center;
  margin-top: 5vh;
}
@media (min-width: 700px) {
  .gallery-1-wrapper .article-grid {
    grid-template-areas: "1 2" "3 4" "5 6";
  }
  .gallery-1-wrapper .photo-gallery {
    grid-template-areas: "1 2" "3 4";
  }
}

@media (min-width: 1100px) {
  .gallery-1-wrapper {
    display: grid;
    gap: 15px;
    grid-template-areas: "title title title title" "p p photo photo" "article article photo photo";
  }
  .gallery-1-wrapper h2 {
    grid-area: title;
  }
  .gallery-1-wrapper .p {
    grid-area: p;
    margin-top: 0px;
  }
  .gallery-1-wrapper .photo-gallery {
    grid-area: photo;
    margin-top: 0px;
  }
  .gallery-1-wrapper .photo-gallery li, .gallery-1-wrapper .photo-gallery picture, .gallery-1-wrapper .photo-gallery img {
    width: 100%;
    height: 100%;
  }
  .gallery-1-wrapper .photo-gallery li img, .gallery-1-wrapper .photo-gallery picture img, .gallery-1-wrapper .photo-gallery img img {
    object-fit: cover;
  }
  .gallery-1-wrapper .article-grid {
    grid-area: article;
  }
}
/*AllTrails thumbnail grid*/
inner-column:has(.trail-grid-container) {
  padding-left: 0;
  padding-right: 0;
}

.trail-grid-container {
  display: grid;
  gap: 20px;
}
.trail-grid-container > *:not(.trail-list) {
  padding: 0 1.25rem 0;
}
@media (min-width: 600px) {
  .trail-grid-container > *:not(.trail-list) {
    padding: 0 1.75rem 0;
  }
}
@media (min-width: 900px) {
  .trail-grid-container > *:not(.trail-list) {
    padding: 0 2.25rem 0;
  }
}
.trail-grid-container .see-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.trail-grid-container .see-more a {
  text-decoration: none;
  color: var(--ink);
  display: flex;
}
.trail-grid-container .see-more h3 {
  margin: 0px;
  color: var(--ink);
}
.trail-grid-container .trail-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  overflow-x: scroll;
  padding: 0 20px 5px;
}
.trail-grid-container .trail-list li {
  width: 320px;
  height: 80px;
  display: grid;
  gap: 5px 20px;
  align-items: start;
  justify-items: start;
  grid-template-columns: 75px 1fr;
  grid-template-areas: "thumbnail title" "thumbnail text" "thumbnail . ";
}
.trail-grid-container .trail-list picture {
  width: 75px;
  height: 75px;
  padding: 0px;
  border-radius: 5px;
  grid-area: thumbnail;
}
.trail-grid-container .trail-list img {
  width: 100%;
  height: 100%;
  padding: 0px;
  object-fit: cover;
  border-radius: 5px;
}
.trail-grid-container .trail-list h3 {
  margin: 0px;
  grid-area: title;
}
.trail-grid-container .trail-list p {
  margin: 0px;
  font-size: 0.8rem;
  color: grey;
  grid-area: text;
}

.faq-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.faq-list-container text-content p {
  text-align: left;
  margin-top: 1rem;
}
.faq-list-container ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 900px) {
  .faq-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .faq-list-container text-content {
    align-self: start;
  }
  .faq-list-container text-content h2 {
    margin-top: 1.75rem;
  }
  .faq-list-container text-content p {
    max-width: initial;
  }
  .faq-list-container ul {
    margin-top: 0;
  }
}

.faq-list-container faq-card {
  display: block;
  padding: clamp(20px, 5vh, 36px) 1rem 1rem 0;
  border-bottom: 1px solid var(--ink-grey);
}
.faq-list-container faq-card details summary::-webkit-details-marker {
  display: none;
}
.faq-list-container summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  color: var(--ink-grey);
}
.faq-list-container details p {
  margin-top: 0.75rem;
  padding-right: 2rem;
}
.faq-list-container .icon-container {
  width: 32px;
  height: 32px;
  padding: 0.25rem;
  transform: translateX(50%);
}
.faq-list-container .icon-container svg {
  stroke: var(--ink-grey);
}
.faq-list-container faq-card:has(details[open]) {
  border-bottom: 1px solid var(--ink);
}
.faq-list-container faq-card:has(details[open]) summary {
  color: var(--ink-dark);
}
.faq-list-container faq-card:has(details[open]) .icon-container svg {
  transform: rotate(-90deg);
  stroke: var(--ink);
}

text-content {
  display: block;
}
text-content h2 {
  font-size: clamp(1.25rem, 5vw, 2rem);
  font-weight: 600;
}

section.category-header {
  background-color: var(--paper-accent);
  padding: 12px 0;
}
@media (min-width: 1000px) {
  section.category-header {
    background-color: unset;
  }
  section.category-header div.category-header {
    border-left: 10px solid var(--ink);
    padding: 12px;
    background-color: var(--paper-accent);
    border-top-right-radius: var(--box-radius);
    border-bottom-right-radius: var(--box-radius);
  }
}

.type-overview {
  font-weight: 400;
}
.type-overview p.xl-voice, .type-overview ul, .type-overview li {
  font-size: clamp(16px, 5vw, 32px);
}
.type-overview ul {
  margin-top: 1rem;
  font-weight: 600;
}

.type-voicings em {
  font-weight: 700;
}
.type-voicings h2.xxl-voice {
  margin-top: 1.25rem;
}
.type-voicings h2.xl-voice {
  margin-top: 1rem;
}
.type-voicings h2.large-voice {
  margin-top: 0.75rem;
}
.type-voicings h2.medium-voice {
  margin-top: 0.5rem;
}
.type-voicings h2.small-voice {
  margin-top: 0.25rem;
}

.colors-overview .color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1px;
}
.colors-overview .color {
  text-align: center;
  padding: 0.75rem 0;
}
.colors-overview .baseHue {
  background-color: hsl(var(--hue), 100%, 40%);
  color: var(--paper);
}
.colors-overview .paper {
  background-color: var(--paper);
  color: var(--ink);
  border: 1px solid var(--paper-grey);
}
.colors-overview .paperAccent {
  background-color: var(--paper-accent);
  color: var(--ink);
}
.colors-overview .paperGrey {
  background-color: var(--paper-grey);
  color: var(--ink);
}
.colors-overview .ink {
  background-color: var(--ink);
  color: var(--paper);
}
.colors-overview .inkGrey {
  background-color: var(--ink-grey);
  color: var(--paper);
}

/*Sections (in this file)*/
body {
  background-color: var(--paper);
}

/*icon styling*/
[class^=icon-], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}
