/*Custom properties comment*/

body {

/* Color styles */


	--primary-font: "Inter";
	--secondary-font: "Inter";
}

/*Type patterns*/

.xxl-voice {
	font-family: var(--primary-font);
	font-size: 3rem;
	font-weight: 600;
}

.xl-voice {
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 600;
}

.large-voice {
	font-family: var(--primary-font);
	font-size: 1.25rem;
	font-weight: 400;
}

.medium-voice {
	font-family: var(--secondary-font);
	font-size: 1rem;
	font-weight: 400;
}

.small-voice {
	font-family: var(--secondary-font);
	font-size: 0.75rem;
	font-weight: 400;
}