form, label, input {
	display: block;
	font-family: var(--primary-font);
}

form {
	display: grid;
	gap: 15px;
	max-width: 600px;
}


input, textarea {
	border: 1px solid black;
	border-radius: 5px;
	padding: 8px 16px;
	font: inherit;
}

pill {
	display: block;
	display: flex;
	background-color: lightgrey;
	// https://codepen.io/chizzymamma/pen/aQwQOp?editors=1100
}