form, label, input {
	display: block;
	font-family: var(--primary-font);
}

form {
	display: grid;
	gap: 15px;
}


input {
	border: 1px solid black;
}

pill {
	display: block;
	display: flex;
	background-color: lightgrey;
	// https://codepen.io/chizzymamma/pen/aQwQOp?editors=1100
}