/*Preset*/
/* Test comment
	Meyer Reset CSS
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Setup*/
/* Boilerplate formatting/styling - should not be custom to any project */
/* Test comment */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, ol, li,
span, a, table, tr, td, blockquote {
  letter-spacing: normal;
}

table {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}

/* Resizing images */
/* Explainer: https://codepen.io/perpetual-education/pen/dyNemyW?editors=1100 */
picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

/* GLOBAL LINKS RESET/SETUP*/
/*Explainer: https://codepen.io/perpetual-education/pen/VwPxxKg?editors=1100 */
a {
  display: block;
  text-decoration: none;
  /* remove default link styles */
  /* set links to be blocks so you can wrap thing */
  /* inline elements can't have block elements inside! */
}

p a { /* "all links in paragraphs..." */
  display: inline-block;
  text-decoration: underline;
}

/* yes! you might also want to do this for other headings and list items etc --- this is just a basic use-case */
/*Settings*/
/*Custom properties comment*/
body {
  /* Color styles */
  --paper: #F5F4F0;
  --ink: #1C1B17;
  --splash-primary: #4747EB;
  --splash-dark: #0D0D73;
  --splash-pale: #A3A3F5;
  --accent: #F53D5C;
  --accent-2: #F2B90D;
  --grey: #D9D9D9;
  --primary-font: "Inter";
  --secondary-font: "Inter";
}

/*Type patterns*/
.xxl-voice {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
}

.xl-voice {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 600;
}

.large-voice {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 400;
}

.medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
}

.small-voice {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  font-weight: 400;
}

/*Structure*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  flex-grow: 1;
}

inner-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 1.25rem 0;
}
inner-column.tight {
  max-width: 800px;
}

p {
  max-width: 75ch;
}

@media (min-width: 600px) {
  inner-column {
    padding: 0 1.75rem 0;
  }
}
@media (min-width: 900px) {
  inner-column {
    padding: 0 2.25rem 0;
  }
}
form, label, input {
  display: block;
  font-family: var(--primary-font);
}

form {
  display: grid;
  gap: 15px;
  max-width: 600px;
}

input, textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 16px;
  font: inherit;
}

pill {
  display: block;
  display: flex;
  background-color: lightgrey;
}

[role=list].numbered-list {
  list-style: decimal;
  padding-left: 1rem;
}

[role=list].bulleted-list {
  list-style: disc;
  padding-left: 1rem;
}

[role=list] li:first-of-type {
  margin-top: 0.5rem;
}

[role=list] li + li {
  margin-top: 1rem;
}

.list-item-title {
  font-family: var(--secondary-item);
  font-weight: 400;
  color: var(--splash-secondary);
}

/*Typography*/
em {
  font-style: italic;
}

p, ul, ol, li, legend, .medium-voice {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  color: var(--ink);
}

a, p a {
  text-decoration: none;
}

/*margin & padding*/
article p, article li {
  max-width: 75ch;
}
article h1, article h2, article h3 {
  margin-top: 1.25rem;
}
article h1 + h2, article h1 + p, article h2 + h3 {
  margin-top: 2rem;
}
article h2 + p {
  margin-top: 1.5rem;
}
article h3 + p {
  margin-top: 1rem;
}
article p + p {
  margin-top: 1rem;
}
article img + p {
  margin-top: 0.75rem;
}

/*Mixins*/
/*Components*/
header.site-header {
  background-color: var(--white);
}

body.wavy header.site-header,
body.blue section.hero,
body:not(.wavy) footer.site-footer {
  background-color: var(--origin);
}

body:is(.home, .wavy) section.hero {
  background-image: url("../images/diagonal-background.svg");
  background-size: 100px;
  background-repeat: repeat;
}

section {
  padding: 10vh 0 10vh 0;
}
section.hero {
  padding: 20vh 10vw;
}
@media (max-width: 500px) {
  section.hero {
    padding: 10vh 2.5vw;
  }
}
section text-content {
  display: block;
  text-align: center;
}
section text-content h2 {
  font-size: clamp(1.25rem, 5vw, 2rem);
  font-weight: 600;
}

/*Modules*/
button {
  width: fit-content;
}

button.link {
  background-color: transparent;
  border: none;
  color: var(--splash-primary);
  text-decoration: underline;
  font-size: inherit;
  cursor: pointer;
  padding-left: 0;
}
button.link span.arrow {
  font-size: 1.25rem;
}

form button {
  min-width: 150px;
  font-size: 1.1rem;
  padding: 12px 20px;
  color: var(--paper);
  font-weight: 600;
  background-color: var(--splash-primary);
  border: none;
  border-radius: 10px;
}

p button {
  margin: 0;
  padding: 0;
}

.home-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.home-nav button {
  margin-top: 0;
  aspect-ratio: 1/1;
  width: 200px;
  flex-shrink: 0;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  padding: 12px;
  border-radius: 10px;
  color: var(--paper);
}
.home-nav button:first-of-type {
  background-color: var(--splash-primary);
}
.home-nav button:nth-of-type(2) {
  background-color: var(--accent-2);
  color: var(--ink);
}
.home-nav button:last-of-type {
  background-color: var(--accent);
}

/*Sections (in this file)*/
body {
  background-color: var(--paper);
}

h1, form, button {
  margin-top: 20px;
}
