.skill-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

.skill {
	padding: 0.5em 1em;
	border-radius: var(--button-radius);
	background-color: var(--ink);
	color: var(--paper);
	font-weight: 500;
}

@media (prefers-color-scheme: dark) {
	.skill {
		background-color: var(--paper);
		color: var(--ink);
	}
}