.faq-list-container {

	faq-card {
		display: block;
		padding: 1rem;
		border-bottom: 1px solid var(--system-grey--300);

		details summary::-webkit-details-marker {
			display: none;
		}
	}

	summary {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		align-items: center;
	}

	details p {
		margin-top: 0.75rem;
	}

	.icon-container {
		width: 32px;
		height: 32px;
		padding: 0.25rem;

		svg {
			stroke: var(--system-grey--600);
			width: 100%;
			height: auto;
			padding: 0;
		}
	}

} //close .faq-list-container

body:is(.home,.blue) .faq-list-container {
	.icon-container {
		transform: translateX(50%);
	}

	details[open] {
		.icon-container svg {
			transform: rotate(-90deg);
		}
	}
} //close home/blue > faq-list-container

body.wavy .faq-list-container {
	
	summary {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: 1rem;
	}

	details {
		.icon-container svg {
			stroke: var(--origin);
		}

		p {
			padding-left: 0.5rem;
			margin-left: 2.5rem;
			border-left: 2px solid var(--origin);
		}
	}

	details[open] {
		.icon-container svg {
			.vertical {
				display: none;
			}
		}
	}
} //close wavy > faq-list-container












