.faq-list-container {

	faq-card {
		// border: 1px solid red;
		display: block;
		padding: clamp(20px, 5vh, 36px) 1rem 1rem 0;
		border-bottom: 1px solid var(--inactive-grey);

		details summary::-webkit-details-marker {
			display: none;
		}
	}

	summary {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		align-items: center;
		color: var(--ink-grey);
	}

	details p {
		margin-top: 0.75rem;
		padding-right: 2rem;
	}

	.icon-container {
		width: 32px;
		height: 32px;
		padding: 0.25rem;

		transform: translateX(50%);

		svg {
			stroke: var(--inactive-grey);
		}
	}

	faq-card:has(details[open]) {
		border-bottom: 1px solid var(--splash-primary);

		summary {
			color: var(--ink-dark);
		}

		.icon-container svg {
			transform: rotate(-90deg);
			stroke: var(--splash-primary);
		}

	}
}











